$font-size: 12px;
$height: 32px;
$padding: 0 20px;
$border-radius: 5px;

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e00000;
  box-shadow: none;
  border: none;
  width: 100%;
  display: inline-block;
  font-size: $font-size;
  line-height: $height;
  height: $height;
  padding: $padding;
  font-family: inherit;
  font-weight: bold;
  color: #ffffff;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    opacity: .7;
  }

  &--default,
  &[disabled] {
    cursor: default;
    opacity: .4;
  }
}

.button2{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e00000;
  box-shadow: none;
  border: none;
  // width: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: $font-size;
  line-height: $height;
  height: $height;
  padding: $padding;
  font-family: inherit;
  font-weight: bold;
  color: #ffffff;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    opacity: .7;
  }

  &--default,
  &[disabled] {
    cursor: default;
    opacity: .4;
  }
}

[data-btn-size="120"]{width: 120px;}
[data-btn-size="140"]{width: 140px;}
[data-btn-size="270"]{width: 270px;}