$font-size: 14px;
$line-height: $font-size+2px;
$color: #231f20;
$background: #fff;
$font-family: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');


html {
  height: 100%;

}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  background: $background;
  font-family: $font-family, sans-serif;
  font-weight: normal;
  font-style: normal;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*================================>> FONTS  <<========================================*/

  @font-face {
    font-family: 'clarence_cyrillicregular';
    src: url('../../font/clarencecyrillic-regular-webfont.woff2') format('woff2'),
         url('../../font/clarencecyrillic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  .clarence{
    font-family: 'clarence_cyrillicregular', Arial, sans-serif;
  }
  
  .fw_med{font-weight: 500;}
  .fw_bold{font-weight: bold;}
  .fw_black{font-weight: 900;}





//цвета выделения
::selection,
::-moz-selection {
  background: #000;
  color: #fff;
}

.clear, .clearfix {
  clear: both;
  float: none;
}

//абзацы
p {
  margin: 0 0 15px 0;
  min-height: 1px;
}

//ссылки
a {
  color: $color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .td_und{text-decoration: underline;}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}

  .col_2 div{
    width: 48%;
  }

/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}

  .d_center{
    margin-left: auto;
    margin-right: auto;
  }


/*=====================> Content ========================*/
.container{
  width: 936px;
  margin-left: auto;
  margin-right: auto;
}

section[data-bg]{padding-bottom: 70px;}

.img_box{
  img{max-width: 100%;}
}

.link{
  font-size: 12px;
}
a.td_und{text-decoration: underline;}
a.td_und:hover{text-decoration: none;}




/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px; line-height: 1.2;}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb60{ margin-bottom:60px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom:75px;}
  .mb95{ margin-bottom:95px;}

  .mr20{margin-right: 20px;}
  .mr25{margin-right: 25px;}

  .mt25{margin-top: 25px;}
  .mt40{margin-top: 40px;}


/*=====================> Lists <========================*/
  .list1{
    font-family: Arial;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
  }
  .list1 li{
   
  }
  .list1 a{}

  .list2{}
  .list2 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list2 a{}

  .list3{}
  .list3 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list3 a{}

/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }


/*===================== Grid ========================*/

  .grid--33p{width: 33%;}

  .grid--37p{width: 37%;}
  
  .grid--41p{width: 41%;}
  
  .grid--45p{width: 45%;}

  .grid--47p{width: 46.5%;}
  
  .grid--50p{width: 50%;}

  .grid--55p{width: 55%;}

  .grid--58p{width: 58%;}

  .grid--65p{width: 65%;}

/*----------------   INDEX   ----------------*/
  [data-bg="index_bg"]{
    position: relative;
    padding-bottom: 200px !important;
    background: url(../../images/bg_img.png) 50% 30px no-repeat;
    -webkit-background-size: 67%;
         -o-background-size: 67%;
            background-size: 67%;
    
    &::after{
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 50%;
      position: absolute;
      background: url(../../images/bg_img3.png)50% 100% no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
    }
  }

  .product_main{
    padding-top: 60px;
  }

  .prize_img{
    text-align: center;
    img{
      width: 79%;
    }
  }
  
  .step_wrap{
    padding-left: 45px;
  }
  .step{
    margin-bottom: 16px;
    
    &--numb{
      color: #fff;
      width: 33px;
      height: 33px;
      margin-top: 4px;
      font-size: 28px;
      font-weight: 900;
      line-height: 1.2;
      padding-left: 6px;
      font-style: italic;
      margin-right: 18px;
      background-color: #E00000;
      -webkit-border-radius: 50%;
              border-radius: 50%;
    }

    &--info{
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
      text-transform: uppercase;
    }
  }
/*----------------   END INDEX   ----------------*/



/*----------------   CABINET   ----------------*/

  [data-bg="sides_bg"]{
    position: relative;
    
    &::before{
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      width: 200px;
      position: absolute;
      background: url(../../images/bg_img1.png) 50% 0% no-repeat;
      background-size: 90%;
    }

    &::after{
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      width: 200px;
      position: absolute;
      background: url(../../images/bg_img2.png) 50% 0% no-repeat;
      background-size: 90%;
    }
  }

/*----------------   END CABINET   ----------------*/



/*----------------   FEEDBACK   ----------------*/
  
  .feedback{
    .form__textarea{
      height: 215px;
    }
  }

  .captcha{
    // text-align: center;
    width: 340px;
    margin-left: auto;
    margin-right: auto;

    *{
      float: left;
      display: inline-block;
      -webkit-border-radius: 5px;
              border-radius: 5px;
    }

    .img_box{
      width: 110px;
      height: 33px;
      overflow: hidden;
      background-color: #F0F0F0;
    }
    
    &--refresh{
      margin-left: 7px;
      margin-right: 7px;
      text-align: center;
      padding: 6px 0 3px;
      background-color: #999;
      
      img{
        float: none;
        width: 53%;  
      }
      
      &:hover{opacity: .8;}
    }

    &--input{
      min-width: 170px;
      color: #999;
      outline: none;
      font-size: 11px;
      font-weight: 500;
      border: 2px solid #CCC;
      padding: 8.5px 9px;
    }

  }

/*----------------   END FEEDBACK   ----------------*/



/*----------------   PRIZES   ----------------*/

  .prizes{
    text-align: center;
    
    .prize{
      width: 210px;
      display: inline-block;
      
      img{
        max-width: 100%;
      }
      
      &:first-child{
        margin-right: -50px;
      }

      &:nth-child(2){
        width: 242px;
        position: relative;
      }

      &:last-child{
        margin-left: -50px;
      }
    }

    &+.form{
      .form__elem--str:nth-child(2){
        margin: 0 63px;
      }
    }
  }

/*----------------   END PRIZES   ----------------*/



/*=====================================Winners=====================================================*/
.winners_block{
  padding-top: 20px;
  
  &--item{
    width: 33%;
    
    .img_box{
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 35px;
    }
    
    h2{
      padding: 0 28px;
    }
  }
}

/*=====================================Faq========================================================*/

.accordion {
  width: 784px;
  margin-left: auto;
  margin-right: auto;
  
  &--item {
    overflow: hidden;

    &:first-child{
      -webkit-border-radius: 5px 5px 0 0;
              border-radius: 5px 5px 0 0;
    }
    &:last-child{
      -webkit-border-radius: 0 0 5px 5px;
              border-radius: 0 0 5px 5px;
        
    }
    &:last-child .accordion--item--link{margin-bottom: 0;}

    &--link{
      line-height: 2;
      font-size: 16px;
      cursor: pointer;
      font-weight: 500;
      margin-bottom: 4px;
      padding: 14px 28px;
      position: relative;
      background-color: #F1F1F1;
      font-family: 'corporateacon', Helvatica, sans-serif;
      
      &::after{
        content: "";
        width: 30px;
        height: 30px;
        top: 50%;
        right: 15px;
        margin-top: -15px;
        position: absolute;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: rgba(0, 0, 0, .5) url(../../images/icon/arr_down.png) 50% 50% no-repeat;
        -webkit-background-size: 11px 7px;
             -o-background-size: 11px 7px;
                background-size: 11px 7px;
      }
      
      &.active{
        color: #fff;
        background-color: #e00000;
        
        &::after{
          background-color: transparent;
          -webkit-transform: rotate(180deg);
             -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
               -o-transform: rotate(180deg);
                  transform: rotate(180deg);
        }
      }
    }
    .sub-menu{
      display: none;
      font-size: 16px;
      margin-top: -4px;
      margin-bottom: 4px;
      padding: 33px 28px;
      line-height: 1.2;
      background-color: #EEE;
    }
  }
}
  .accordion--item--link::after{background-color: rgba(0, 0, 0, .2) !important;}


.index_mobile_img{
  display: none;
  height: 20px;
  margin-top: 60px;
  background: url(../../images/horizontal_dats.png) 50% 50% repeat-x;
}




/*-----------  DEFAULT responsive  ----------*/
  @media only screen and (max-width: 1360px) {
    [data-bg="index_bg"]{
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
    }

  }

  @media only screen and (max-width: 1200px) {
    [data-bg="index_bg"]{
      padding-bottom: 100px !important;
    }

  }

  @media only screen and (max-width: 1030px) {
    [data-bg="sides_bg"]::before,
    [data-bg="sides_bg"]::after{
      width: 100px;
      z-index: -1;
      background-repeat: repeat-y;
    }
  }
    @media only screen and (max-width: 1280px) {
    [data-bg="sides_bg"]::before,
    [data-bg="sides_bg"]::after{
      z-index: -1;
    }
  }

  @media only screen and (max-width: 995px) {
    body{min-width:768px;}
    .container{
      padding-left: 10px;
      padding-right: 10px;
    }
     [data-bg="sides_bg"]::before,
    [data-bg="sides_bg"]::after{
      z-index: -1;
    }
  }

  @media only screen and (max-width: 950px) {
    .container{
      width: auto;
    }
    .grid--33p{width: 30%;}

    .winners_block{
      text-align: -webkit-center; 
      padding-top: 0px;
      
      &--item{
        width: 31%;
        // float: none;
        padding: 10px;
        
        .title--3{font-size: 20px;}
      }
    }

    .accordion{
      width: 668px;
    }

    .step_wrap{
      padding-left: 0;
    }

    .step--info{font-size: 12px;}

    [data-bg="index_bg"]::after{top: 80%;}

  }

  @media only screen and (max-width: 768px) {
    body{min-width:420px;}
    #content{padding: 160px 0 0;}

    .step_wrap{
      padding-left: 30px;
    }

    .grid--65p{
      width: 100%;
      float: none;
    }
    .prize_img img {
      width: 100%;
    }

     .product_main{
      display: none;
    }
    [data-bg="index_bg"]{
      background: none;
    }
    .accordion{
      width: 100%;
      
    }

    [data-bg="sides_bg"]::before,
    [data-bg="sides_bg"]::after{
      display: none;
    }

    [data-bg="index_bg"]{
      padding-bottom: 0 !important;
      &::after{display: none;}
    }

    .winners_block{
      
      &--item{
        width: 100%;
        float: none;
        
        .title--3{padding: 0;}
      }
    }

    .desktop_vis{
      display: none;
    }
  }

  @media only screen and (max-width: 668px) {
    .col_2 div{
      width: 100%;
      float: none;
      margin-bottom: 15px;
      text-align: center;
    }
    [data-hr="vertical"]::before,
    [data-hr="vertical"]::after{
      display: none;
    }

    .winners_block_item {
      width: 100%;
      float: none;
      padding: 10px;
    }
    .form{
      float: none;
    }

    [data-bg="index_bg"]::after{
      -webkit-background-size: auto 100%;
           -o-background-size: auto 100%;
              background-size: auto 100%;
    }
   
  }

  @media only screen and (max-width: 550px) {
    .grid--37p,
    .grid--45p,
    .grid--47p,
    .grid--55p,
    .grid--58p{
      width: 100%;
      float: none;
    }
    .step--info{font-size: 13px;}

  }
  
  @media only screen and (max-width: 479px) {
    body{min-width:300px;}

    .step_wrap {
      padding-left: 20px;
    }
    section[data-bg] {
      padding-bottom: 10px;
    }
    .winners_block--item {
      width: 100%;
      margin-bottom: 40px;
    }
    .winners_block--item .img_box {
      margin-bottom: 5px;
    }

  }

  
