$placehoderColor: #c1c1c1;

//form__row
$form__row-Margin: 15px 0 0 0;

//form__label
$form__label-Color: #000;
$form__label-FontSize: 11px;
$form__label-LineHeight: 1.5; //рекомендуется установить высоту чекбокса
$form__label-FontWeight: 500;
$form__label-Margin: 0 0 0 0;

//form__input
$form__input-FontSize: 13px;
$form__input-Background: none;
$form__input-Height: 30px; //высота без бордеров
$form__input-Border: 1px solid #ccc;
$form__input-Padding: 0 12px;
$form__input-BoxShadow: none;
$form__input-BorderRadius: 5px;
$form__input-TextAlign: left;

//form__textarea
$form__textarea-FontSize: $form__input-FontSize;
$form__textarea-LineHeight: $form__textarea-FontSize + 2px;
$form__textarea-Background: $form__input-Background;
$form__textarea-Height: $form__input-Height * 4;
$form__textarea-Border: $form__input-Border;
$form__textarea-Padding: 10px;
$form__textarea-BoxShadow: $form__input-BoxShadow;
$form__textarea-BorderRadius: $form__input-BorderRadius;
$form__textarea-TextAlign: $form__input-TextAlign;

//form__checkbox
$form__checkbox-Width: 17px;
$form__checkbox-Height: $form__checkbox-Width;
$form__checkbox-Margin: -2px 8px 0 0;
$form__checkbox-BoxShadow: none;
$form__checkbox-Background: url(../../images/icon/checkbox.jpg) 50% 50% no-repeat;
$form__checkbox-Border: none;
$form__checkbox-CheckedBackground:  url(../../images/icon/checkbox_act.jpg) 50% 50% no-repeat;
$form__checkbox-CheckedBorder: $form__checkbox-Border;

//form__radio
$form__radio-Width: 18px;
$form__radio-Height: $form__radio-Width;
$form__radio-Margin: $form__checkbox-Margin;
$form__radio-BoxShadow: $form__checkbox-BoxShadow;
$form__radio-BorderRadius: 50%;
$form__radio-Background: url(../../images/icon/radio.jpg) -5px -5px no-repeat;
$form__radio-Border: none;
$form__radio-CheckedBackground: url(../../images/icon/radio.jpg) 87% -5px no-repeat;
// $form__radio-CheckedBorder: $form__checkbox-Border;

//form__select
$form__select-Height: $form__input-Height + 2px;
$form__select-Padding: 0 15px 0 10px;
$form__select-FontSize: $form__input-FontSize;
$form__select-LineHeight: $form__input-Height;
$form__select-Background: $form__input-Background;
$form__select-Border: $form__input-Border;

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
	color: $placehoderColor;
}

.form {
	margin: 20px 0 0;

	&__label {
		display: block;
		color: $form__label-Color;
		vertical-align: middle;
		font-size: $form__label-FontSize;
		line-height: $form__label-LineHeight;
		font-weight: $form__label-FontWeight;
		margin: $form__label-Margin;
	}

	&__row {
		margin: $form__row-Margin;
		position: relative;
	}

	&__input {
		background: $form__input-Background;
		height: $form__input-Height;
		position: relative;
		border: $form__input-Border;
		box-shadow: $form__input-BoxShadow;
		border-radius: $form__input-BorderRadius;

		input {
			font-family: inherit;
			color: inherit;
			font-size: $form__input-FontSize;
			line-height: 2;
			text-align: $form__input-TextAlign;
			z-index: 2;
			display: block;
			width: 100%;
			// height: inherit;
			padding: $form__input-Padding;
			outline: none;
			background: none;
			box-sizing: border-box;
			border: none;
		}
	}

	&__textarea {
		background: $form__textarea-Background;
		height: $form__textarea-Height;
		position: relative;
		border: $form__textarea-Border;
		box-shadow: $form__textarea-BoxShadow;
		border-radius: $form__textarea-BorderRadius;

		textarea {
			font-family: inherit;
			color: inherit;
			font-size: $form__textarea-FontSize;
			line-height: $form__textarea-LineHeight;
			text-align: $form__textarea-TextAlign;
			z-index: 2;
			display: block;
			width: 100%;
			height: inherit;
			padding: $form__textarea-Padding;
			outline: none;
			background: none;
			box-sizing: border-box;
			border: none;
			resize: none;
		}
	}

	&__checkbox {
		margin-top: -2px;
		display: inline-block;
		vertical-align: middle;
		margin: $form__checkbox-Margin;

		&:first-child {
			margin-left: 0;
		}

		&+.form__label{
			font-size: 12px;
		}

		input {
			box-shadow: $form__checkbox-BoxShadow;
			width: $form__checkbox-Width;
			height: $form__checkbox-Height;
			border: $form__checkbox-Border;
			display: inline-block;
			background: $form__checkbox-Background;
			vertical-align: middle;
			-webkit-appearance: none;
			margin: 0;
			cursor: pointer;
			outline: none;

			&:checked {
				background: $form__checkbox-CheckedBackground;
				border: $form__checkbox-CheckedBorder;
			}
		}
	}

	&__radio {
		display: inline-block;
		margin: $form__radio-Margin;

		&:first-child {
			margin-left: 0;
		}

		input {
			box-shadow: $form__radio-BoxShadow;
			width: $form__radio-Width;
			height: $form__radio-Height;
			display: inline-block;
			background: $form__radio-Background;
			vertical-align: middle;
			-webkit-appearance: none;
			margin: 0;
			cursor: pointer;
			outline: none;
			-webkit-border-radius: 50%;
			        border-radius: 50%;

			&:checked {
				background: $form__radio-CheckedBackground;
			}
		}
	}



	&__select {
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			right: 8px;
			top: 50%;
			margin: -2px 0 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 7px solid #ccc;
		}

		select {
			font-family: inherit;
			color: inherit;
			position: relative;
			font-size: $form__select-FontSize;
			line-height: $form__select-LineHeight;
			height: $form__select-Height;
			outline: none;
			display: block;
			width: 100%;
			background: $form__select-Background;
			border: $form__select-Border;
			padding: $form__select-Padding;
			box-sizing: border-box;
			border-radius: $form__input-BorderRadius;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
	}

	.addfile {
		display: block;
		overflow: hidden;
		box-sizing: border-box;
		height: 56px;
		line-height: 56px;
		font-size: 24px;
		text-align: center;
		background: #000;
		color: #ffffff;
		padding: 0;
		border-radius: 20px;
		// background: url("../images/ico_folder_sprite.png") no-repeat 0 0;
		font-family: inherit;
		font-weight: normal;

		img {
			display: none !important;
		}

		&--added {
			background-position: 0 -30px;

			.addfile__title {
				display: none;
			}
			input {
				display: none;
			}
			.addfile__name {
				display: block;
			}
		}

		&__clear {
			display: inline-block;
			//background: url("../images/ico-close.png")no-repeat 0 0;
			width: 10px;
			height: 10px;
			margin: 0 0 0 10px;
			vertical-align: middle;
		}

		&__title {
			cursor: pointer;

		}
		&__name {

		}

		input {
			cursor: pointer;
			margin-top: -40px;
			margin-right: -10px;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
			font-size: 40px;
			height: 50px;
			float: right;
		}
	}

	&__elem {
		&--str {
			display: inline-block;
			.form__label {
				display: inline-block;
			}
		}
	}

	&__alert {
		background: rgba(255, 0, 0, .1);
		border-radius: 10px;
		padding: 20px;
		color: #999;
	}

	&__error {
		color: #ff0000;
		font-size: 12px;
		line-height: 14px;
		display: none;
	}

	&__control {
		&--error {
			.form__error {
				display: block;
			}

			.form__input {
				border-color: #f00;
			}

			.form__textarea {
				border-color: #f00;
			}

			.form__select select {
				border-color: #f00;
			}

			.form__select:after {
				border-top-color: #f00;
			}
		}
	}
}

.error{
	
	.form__input{border: 2px solid #E00000;}

	.form__error{
		display: block;
		margin-top: 7px;
	}

	.button2,
	.button{background-color: #AFAFAF;}
}


/*------------   Promo code input    -----------*/
	
	.promo_code{
		width: 274px;
		padding: 6px;
		margin-left: auto;
		margin-right: auto;
		background-color: #E00000;
		-webkit-border-radius: 8px;
		        border-radius: 8px;
		
		&--input{
			float: left;
			border: none;
			outline: none;
			color: #231F20;
			font-size: 21px;
			padding: 9px 15px;
			background-color: #FFF;
			width: calc(100% - 49px);
			-webkit-border-radius: 4px;
			        border-radius: 4px;
		}

		&--btn{
			color: #FFF;
			width: 45px;
			float: right;
			border: none;
			outline: none;
			line-height: 2.2;
			cursor: pointer;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			background-color: transparent;
		}
	}

	.desktop_vis{}

	.resp_vis{display: none;}

/*------------   END Promo code input    -----------*/


/*------------   Personal data    -----------*/
	
	.personal_data{
		position: relative;
		padding: 0px 60px 55px;
		
		&::before{
			content: "";
			left: 50%;
			top: 40px;
			height: auto;
			bottom: 70px;
			position: absolute;
			border-left: 1px dotted #d3d3d3;
		}

		.form{
			width: 270px;
			margin-left: auto;
			margin-right: auto;
		}

		&--birth_day{
			width: 50px;
			float: left;
			margin-right: 10px;
		}

		&--birth_month{
			width: 105px;
			float: left;
			margin-right: 10px;
		}

		&--birth_year{
			width: 65px;
			float: left;
		}


		&--radio_m{
			
			input{
				width: 32px;
				height: 32px;
				border: none;
				background: url(../../images/icon/icon_m.png) 50% 50% no-repeat;
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
			input:checked{
				background-image: url(../../images/icon/icon_m_act.png);
				background-size: 100%;
				background-position: 50% 50%;
				background-color: #fff;
				border: none;
			}
		}

		&--radio_w{
			

			input{
				width: 32px;
				height: 32px;
				border: none;
				background: url(../../images/icon/icon_w.png) 50% 50% no-repeat;
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
			input:checked{
				background-image: url(../../images/icon/icon_w_act.png);
				background-size: 100%;
				background-color: #fff;
				background-position: 50% 50%;
				border: none;
			}
		}

		&--address{
			width: 77.5px;
			float: left;
			
			&:not(:last-child){
				margin-right: 17px;
			}
		}
	}

/*------------   END Personal data    -----------*/

.checkbox_row{margin-top: 5px;}



[data-form-size="middle"]{
	width: 658px;
	margin-left: auto;
	margin-right: auto;
}

[data-form-size="240"]{
	width: 240px;
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (max-width: 768px) {
	[data-form-size="middle"]{
		width: 100%;
	}
	.resp_vis{
		display: block;
		margin-top: 50px;
	}
	.promo_code {
	    width: 274px;
	    padding: 6px;
	    margin-left: auto;
	    margin-right: auto;
	    background-color: #E00000;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
    }
    .index_mobile_img{
    	display: block;
    }
}

@media only screen and (max-width: 668px) {
	.personal_data--birth_day{
		margin-right: 5px;
	}
}

@media only screen and (max-width: 550px) {
	.captcha{width: 100%;}
	.captcha--input{
		width: 100%;
		margin-top: 15px;
	}

	.form__checkbox + .form__label{
		width: calc(100% - 30px);
	}
}