/*=====================> INDEX 2 ========================*/
section[data-bg="index_bottom"]{
  position: relative;
  padding-bottom: 200px;
  
  &::after{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 75%;
    position: absolute;
    background: url(../../images/bg_img3.png)50% 100% no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }

  .title--1{font-size: 58px;}
}

  [data-bg="index2_bg"]{
    position: relative;
    padding-top: 20px;
    padding-bottom: 600px !important;
    background: url(../../images/bg_img2.jpg) 50% 0% no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
    
  }

  .drawing_step{
    margin-right: 20px;
    margin-bottom: 16px;
    display: inline-block;
    
    &--numb{
      color: #fff;
      width: 48px;
      height: 48px;
      padding-top: 2px;
      margin-top: 4px;
      font-size: 38px;
      font-weight: 900;
      line-height: 1.2;
      padding-right: 2px;
      margin-right: 18px;
      text-align: center;
      background-color: #E00000;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      font-family: 'clarence_cyrillicregular';
      
    }

    &--info{
      font-size: 30px;
      font-weight: 700;
      line-height: 1;
      text-align: left;
      text-transform: uppercase;
      font-family: 'clarence_cyrillicregular';
      
    }

    &_last{
      
      .drawing_step--numb{
        width: 72px;
        height: 72px;
        font-size: 64px;
      }

      .drawing_step--info{
        font-size: 36px;
      }

    }
  }

  .drawing_step_wrap{
    text-align: center;
    margin-top: 27px;
    margin-bottom: 10px;
  }

  .prize_img{
    text-align: center;
    img{
      width: 79%;
    }
  }

/*-----------  INDEX 2 responsive  ----------*/
@media only screen and (max-width: 1700px) {
  [data-bg="index2_bg"]{
    padding-bottom: 500px !important;
  }
}

@media only screen and (max-width: 1480px) {
  [data-bg="index2_bg"]{
    padding-bottom: 450px !important;
  }
}

@media only screen and (max-width: 1280px) {
  section[data-bg="index_bottom"]{
    padding-bottom: 150px;
    
    &::after{top: 82%;}
  }

  [data-bg="index2_bg"]{
    padding-bottom: 380px !important;
  }
}

@media only screen and (max-width: 1199px) {
  [data-bg="index2_bg"]{
    padding-bottom: 350px !important;
  }
}

@media only screen and (max-width: 1024px) {
  [data-bg="index2_bg"]{
    padding-bottom: 250px !important;
  }

  .drawing_step--info{
    font-size: 22px;
  }
  .drawing_step--numb{
    margin-top: 0;
    width: 44px;
    height: 44px;
  }

  .drawing_step_last .drawing_step--numb{
    width: 60px;
    height: 60px;
    font-size: 50px;
  }
  .drawing_step_last .drawing_step--info{font-size: 32px;}

  section[data-bg="index_bottom"]{padding-bottom: 110px;}
}

@media only screen and (max-width: 880px) {
  [data-bg="index2_bg"]{
    padding-bottom: 200px !important;
  }
}

@media only screen and (max-width: 768px) {
  [data-bg="index2_bg"]{
    padding-bottom: 150px !important;
  }

  section[data-bg="index_bottom"]{padding-bottom: 75px;}
}

@media only screen and (max-width: 668px) {
  section[data-bg="index_bottom"] .title--1{font-size: 45px;}

  [data-bg="index2_bg"]{
    padding-bottom: 280px !important;
    background: url(../../images/index_mob_bg.png) 50% 50% no-repeat;
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
  }

  .drawing_step_wrap{
    text-align: left;
    padding: 0 10px;
  }
    .drawing_step{
      padding-left: 20%;
      display: block;
    }

  .drawing_step_last .drawing_step--numb{
    width: 50px;
    height: 50px;
    font-size: 40px;
  }
  .drawing_step_last .drawing_step--info{
    font-size: 28px;
  }

  .prize_wrap{
    padding: 0 10px;
  }
}

@media only screen and (max-width: 550px) {
  section[data-bg="index_bottom"] .title--1{
    font-size: 35px;
  }

    .drawing_step{
      padding-left: 10%;
    }

    .drawing_step--numb{
      font-size: 32px;
    }
}

@media only screen and (max-width: 480px) {
  section[data-bg="index_bottom"]{
    padding-bottom: 40px;
  }
}



@media only screen and (max-width: 420px) {
  [data-bg="index2_bg"]{
    padding-bottom: 250px !important;
  }

    .drawing_step{
      padding-left: 0;
      margin-right: 0;
    }

    .drawing_step--numb,
    .drawing_step_last .drawing_step--numb{
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 12px;
    }
    .drawing_step--info{
      float: left;
      width: calc(100% - 52px);
    }
    .drawing_step_last .drawing_step--numb{
      font-size: 36px;
    }
    .drawing_step_last .drawing_step--info{
      font-size: 24px;
    }

}


@media only screen and (max-width: 400px) {
  [data-bg="index2_bg"]{
    padding-bottom: 200px !important;
  }
}

@media only screen and (max-width: 380px) {
  [data-bg="index2_bg"]{
    padding-bottom: 170px !important;
  }

  section[data-bg="index_bottom"] .title--1{
    font-size: 27px;
  }
}

@media only screen and (max-width: 320px) {
  [data-bg="index2_bg"]{
    // padding-bottom: 10px !important;
  }
}