//fog variables
$fogBackground: #000;
$fogOpacity: .6;

//modal variables
$modalWidth: 480px;
$modalBackground: #fff;
$modalBorder: none;
$modalBorderRadius: 15px;
$modalBoxShadow: none;
$modalPadding: 30px;

$modalTextAlign: left;
$modalFontSize: 16px;
$modalLineHeight: 22px;

//modal close button
$modalCloseWidth: 30px;
$modalCloseHeight: 30px;
$modalCloseTop: 20px;
$modalCloseRight: 20px;
$modalCloseBackground: #e00000 url(../../images/icon/close2.png) 50% 50% no-repeat;

//modal title
$modalTitleFontSize: 20px;
$modalTitleLineHeight: 22px;
$modalTitleFontWeight: bold;
$modalTitleTextAlign: center;
$modalTitleFontColor: #000;

//modal header
$modalHeaderPadding: 0;
$modalHeaderBorderBottom: none;

//modal content
$modalContentPadding: 0;

//modal footer
$modalFooterPadding: 0;
$modalFooterBorderTop: none;
$modalFooterMargin: 0;

.body-modal {
	overflow: hidden;
}

.modal {
	&s {
		&__fog {
			position: absolute;
			display: none;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: $fogBackground;
			opacity: $fogOpacity;
			z-index: 1000;
		}
	}

	color: #000;
	overflow: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 1001;
	text-align: center;
	vertical-align: middle;
	bottom: 0;
	display: none;
	font-size: $modalFontSize;
	line-height: $modalLineHeight;
	background: rgba(0, 0, 0, .6);

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 1px;
		vertical-align: middle;
	}

	&__body {
		position: relative;
		z-index: 1;
		min-height: 285px;
		padding: $modalPadding;
		width: $modalWidth;
		box-sizing: border-box;
		display: inline-block;
		background: $modalBackground;
		text-align: $modalTextAlign;
		border: $modalBorder;
		vertical-align: middle;
		border-radius: $modalBorderRadius;
		box-shadow: $modalBoxShadow;
	}

	&__header {
		padding: $modalHeaderPadding;
		border-bottom: $modalHeaderBorderBottom;
	}

	&__content {
		padding: $modalContentPadding;
	}

	&__footer {
		padding: $modalFooterPadding;
		border-top: $modalFooterBorderTop;
		margin: $modalFooterMargin;
	}

	&__close {
		position: absolute;
		z-index: 1;
		right: $modalCloseRight;
		top: $modalCloseTop;
		background: $modalCloseBackground;
		width: $modalCloseWidth;
		height: $modalCloseHeight;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		-webkit-background-size: 50%;
		     -o-background-size: 50%;
		        background-size: 50%;
	}

	&__title {
		font-family: inherit;
		// margin-bottom: 20px;
		font-size: $modalTitleFontSize;
		line-height: $modalTitleLineHeight;
		text-align: $modalTitleTextAlign;
		font-weight: $modalTitleFontWeight;
		color: $modalTitleFontColor;
		// text-transform: uppercase;
	}
}


/*===============================popups===================================*/

.modal{
	
	&--registration{

		.form{
			padding: 0 30px;
		}
		
		.captcha{
			margin-top: 30px;
			margin-left: 0;
			-webkit-transform: translateX(0);
			   -moz-transform: translateX(0);
			    -ms-transform: translateX(0);
			     -o-transform: translateX(0);
			        transform: translateX(0);
		}

		.modal--registration .form {
           padding: 0;
        }
	}

	&--thank_you_for_registering{
		
		p{
			font-size: 14px;
			line-height: 1.7;
		}

		.modal__body{
			padding: 30px 60px;
		}
	}

	&--regist_compl_succes{
		
		.modal__body{
			padding: 110px 30px;
		}
	}

	&--resending{
		
		.form__label,
		.form__input{
			width: 240px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--delivery_address{
		
		.modal__body{
			padding:  30px 70px;
		}
	}
}
/*===============================popups_resp===================================*/

[data-modal-size="360"]{
	width: 360px;
}
[data-modal-size="410"]{
	width: 410px;
}
[data-modal-size="440"]{
	width: 440px;
}
[data-modal-size="640"]{
	width: 640px;
}

@media only screen and (max-width: 668px) {
	[data-modal-size="640"]{
		width: 90%;
	}

	.modal--registration .form{
		padding: 0;
	}

	  .personal_data--birth_month {
	    width: 80px;
	    margin-right: 5px;
    }
    .personal_data--birth_year {
	    width: 64px;
    }
}
@media only screen and (max-width: 555px) {
	.personal_data--birth_year {
       width: 64px;
    }
  
}

@media only screen and (max-width: 550px) {
	.modal__body {
	    width: 95%;
	    min-height: 170px;
	}


    .modal--registration .form {
       margin-bottom: 20px;
    }

    .captcha--refresh {
       margin-bottom: 10px;
    }
    .modal__title {
    	margin-bottom: 10px;
        margin-top: -19px;
        margin-right: 10px;
    }

    .modal{
    	
    	&--thank_you_for_registering,
    	&--delivery_address,
    	&--regist_compl_succes{
    		
    		.modal__body{
    			padding: 30px 15px;
    		}
    	}
    }


    .modal__header {
       padding: 30px 22px 5px;
    }


}
