/*----------------  Navigation  ---------------*/
  .nav__wrap{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
    -webkit-box-shadow: 3px 3px 3px #dedede;
            box-shadow: 3px 3px 3px #dedede;
  }
  .logo{display: none;}
  .nav{
    float: left;
    text-align: center;
    width: calc(100% - 120px);
    
    &--item{
      margin: 0 4px;
      position: relative;
      display: inline-block;
      
      &--link{
        font-size: 12px;
        font-weight: 500;
        padding: 5px 25px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        
      
      }
      &:not(:last-child):after{
        content: "";
        top: 3px;
        right: -5px;
        width: 1px;
        height: 20px;
        display: block;
        position: absolute;
        background-color: #E1E1E1;
      }
    }
  }

  .sign_out{
    color: #FFF;
    float: right;
    font-size: 10px;
    line-height: 2.5;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    padding: 0 35px 0 24px;
    text-transform: uppercase;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background: #E00000 url(../../images/icon/close.png) 70px 49% no-repeat;
    -webkit-background-size: 8px;
         -o-background-size: 8px;
            background-size: 8px;
  }

  .resp_menu{
    width: 40px;
    height: 40px;
    float: right;
    display: none;
    cursor: pointer;
    margin-right: 15px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #e00000 url(../../images/icon/menu.png) 50% 50% no-repeat;
    
    &:hover{opacity: 0.7;}
  }

/*----------------  END Navigation  ---------------*/



/*-----------  NAV responsive  ----------*/
  @media only screen and (max-width: 880px) {
    .nav--item--link{
      padding:  5px 10px;
    }
  }

  @media only screen and (max-width: 768px) {
    .nav--item--link{
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 668px) {
    .resp_menu{
      display: block;
      margin-top: 12px;
    }
    .logo{
      float: left;
      display: block;
    }
    .nav__wrap{
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #fb0d0d;
      
      .container{
        position: fixed;
        width: 320px;
        right: -355px;
        top: 0;
        bottom: 0;
        z-index: 10;
        padding: 40px 15px;
        overflow: auto;
        max-height: 100%;
        background-color: #FFF;
        -webkit-box-shadow: 0px 3px 25px #DEDEDE;
                box-shadow: 0px 3px 25px #DEDEDE;
        
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        
        .nav{
          float: none;
          width: 100%;
          
          &--item{
            display: block;
            width: 100%;
            text-align: left;
            margin: 0 0 15px;
            
            &--link{
              font-size: 14px;
              padding: 5px 0;
            }
            
            &:not(:last-child):after{display: none;}
            
          }
        }
      }

      .sign_out{
        float: none;
      }

      .resp_close{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 10px;
        top: 10px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #e00000 url(../../images/icon/close2.png) 50% 50% no-repeat;
        -webkit-background-size: 50%;
             -o-background-size: 50%;
                background-size: 50%;
      }
    }

    .nav_overlay{
      
      .nav__wrap .container{
        right: 0;
      }
    }
  }