/*=====================> PRIZES 2 ========================*/
.tab_prize{
  padding: 25px 7px 15px;
}


/*-----------  INDEX 2 responsive  ----------*/
@media only screen and (max-width: 768px) {
  .tab_prize--img{
    text-align: center;
    padding: 25px;

    img:first-child{display: none;}
    img.d_none{
      display: inline-block;
      -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .5);
              box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    }
  }


}

@media only screen and (max-width: 360px) {
  .tab_prize--img{
    padding: 25px 10px;

  }

}
