.social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin-top: 15px;

  &__item {
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
    line-height: 30px;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: none;
    text-decoration: none;
    opacity: .9;
    
    img{
      max-width: 100%;
    }

    &:hover {
      opacity: 1;
    }
  }

  
}

/*-----------  SOCIAL responsive  ----------*/


@media only screen and (max-width: 480px) {
  
.social__item{
    margin: 0 8px;
  }
  .grid--47p {
    width: 100%;
  }
  .modal__close{
    top: 7px;
  }
    
}