/*----------------  Table  ---------------*/

	.table{
		width: 100%;

		&--row{

			&:not(:last-child){
				border-bottom: 1px solid #CCC;
			}

			td,
			th{
				float: left;
				text-align: center;
				display: inline-block;
			}

			td:first-child,
			th:first-child{
				width: 25%;
			}
			td:nth-child(2),
			th:nth-child(2){
				width: 14%;
			}
			td:nth-child(3),
			th:nth-child(3){
				width: 30%;
			}
			td:last-child,
			th:last-child{
				width: 30%;
			}

			td{
				font-size: 13px;
				line-height: 90px;
				position: relative;
			}
		}

		&--first_row{
			background-color: #303030;
			border-bottom: none !important;
			
			th{
				color: #FFF;
				font-size: 9px;
				line-height: 3.4;
				font-weight: 500;
				text-transform: uppercase;
			}
		}

		
	} 

	.table_prizes{
		
		.table--row{
			td:first-child,
			th:first-child{
				width: 32%;
			}
			td:nth-child(2),
			th:nth-child(2){
				width: 15%;
			}
			td:nth-child(3),
			th:nth-child(3){
				width: 28%;
			}
			td:last-child,
			th:last-child{
				width: 25%;
			}
		}
	}

/*----------------  END Table  ---------------*/


/*-----------  TABLE responsive  ----------*/

@media only screen and (max-width: 768px) {
   

    .table_prizes{

    	.table--row{
    		td:first-child,
			th:first-child{
				width: 24%;
			}
			td:nth-child(2),
			th:nth-child(2){
				width: 24%;
			}
			td:nth-child(3),
			th:nth-child(3){
				width: 28%;
			}
			td:last-child,
			th:last-child{
				width: 23%;
			}
    	}
    }

    .table{
    	
    	&--row{

			// td{
			// 	float: right;
			// 	text-align: right;
			// 	padding-left: 5px;
			// 	padding-right: 5px;
			// 	margin-bottom: 10px;
			// }
			// 	td::before{
			// 		color: #231F20;
			// 		font-size: 13px;
			// 		float: left;
			// 		font-weight: normal;
			// 		display: inline-block;
			// 		width: 120px;
			// 		text-align: left;
			// 		line-height: 1;
			// 		text-transform: uppercase;
			// 		content: attr(data-table);
			// 	}

			td{
				padding-left: 5px;
				padding-right: 5px;
				margin-bottom: 10px;
			}
				td::before{
					color: #231F20;
					font-size: 13px;
					font-weight: normal;
					text-align: left;
					line-height: 1;
					display: inline-block;
					width: 100%;
					text-align: center;
					text-decoration: underline;
					text-transform: uppercase;
					content: attr(data-table);
				}
    	}
    }
}

@media only screen and (max-width: 580px) {
	.table--first_row{display: none !important;}

    .table_prizes,
    .table{

    	.table--row{
    		padding: 15px 0;
    		display: inline-block;
    		width: 100%;
    		
    		td{
    			line-height: 2;
    		}
    		
    		td:first-child,
			th:first-child{
				width: 100%;
				float: none;
			}
			td:nth-child(2),
			th:nth-child(2){
				width: 100%;
				float: none;
			}
			td:nth-child(3),
			th:nth-child(3){
				width: 100%;
				float: none;
			}
			td:last-child,
			th:last-child{
				width: 100%;
				float: none;
			}
    	}
    }
}
