.tabs{
	width: 784px;
	margin-left: auto;
	margin-right: auto;
}

.tabs2{

	.tabs__bookmark{
		width: 49.6%;
		padding-left: 46px;
		text-align: center;
		
		span{
			float: none;
			position: relative;

		}

		&[data-tab-item="item1"] span::before,
		&[data-tab-item="item2"] span::before{
			content: "";
			width: 30px;
			height: 30px;
			left: -46px;
			margin-right: 15px;
			position: absolute;
			display: inline-block;
		}

		&[data-tab-item="item1"] span::before{
			background: url(../../images/icon/icon3.png) 50% 50% no-repeat;
			background-size: 100%;
		}
		&[data-tab-item="item2"] span::before{
			background: url(../../images/icon/icon4.png) 50% 50% no-repeat;	
			background-size: 100%;
		}

	}

	.tabs__wrapper{
		margin-top: -1px;
		position: relative;
	}

	.tab{
	padding: 24px;	
	}
}

.tab {
	&s {
		&__bookmark {
			color: #000;
			width: 32.95%;
			background: #E9E9E9;
			padding: 16px 15px;
			display: inline-block;
			text-decoration: none;
			-webkit-border-radius: 5px 5px 0 0;
			        border-radius: 5px 5px 0 0;
			
			.img_box{
				float: left;
				width: 30px;
				height: 30px;
				margin-right: 15px;
				display: inline-block;
			}

			span{
				float: left;
				font-size: 12px;
				line-height: 2.5;
				font-weight: bold;
				display: inline-block;
				text-transform: uppercase;
			}

			&s {
				font-size: 18px;
				line-height: 20px;
			}

			&--active {
				color: #fff;
				background: #303030;
			}
		}

		&__wrapper {
			margin-top: -4px;
			// background: #ccc;
		}
	}

	display: none;
	min-height: 515px;
	overflow: hidden;
	border: 1px solid #303030;
	-webkit-border-radius: 3px 3px 7px 7px;
	        border-radius: 3px 3px 7px 7px;

	&--active {
		display: block;
	}
}

/*------------------------PLUGIN STYLE-----------------*/

ul.resp-tabs-list{
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    /*padding: 13px 15px;*/
    /*margin: 0 4px 0 0;*/
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    /*padding: 15px;*/
}

.resp-tab-active {
	/*border: 1px solid #5AB1D0 !important;*/
	border-bottom: none;
	margin-bottom: -1px !important;
	/*padding: 12px 14px 14px 14px !important;*/
	/*border-top: 4px solid #5AB1D0 !important;*/
	/*border-bottom: 0px #fff solid !important;*/
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    /*border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;*/
}

h2.resp-accordion {
    font-size: 16px;
    /*border: 1px solid #c1c1c1;*/
    /*border-top: 0px solid #c1c1c1;*/
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    /*border-bottom: 0px solid #c1c1c1 !important;*/
    /*margin-bottom: 0px !important;*/
    /*padding: 10px 15px !important;*/
}

h2.resp-tab-title:last-child {
    /*border-bottom: 12px solid #c1c1c1 !important;*/
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    /*padding: 15px 15px !important;*/
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
/*margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 1px solid #5AB1D0 !important;
border-left: 4px solid #5AB1D0 !important;
margin-bottom: 4px !important;
border-right: 1px #FFF solid !important;*/
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 6px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #f1c40f;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
   /* background: #DBDBDB; !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
   /* border-top: 1px solid #c1c1c1; !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}




/*---------------------  NEW TABS STYLE  -------------------*/
	.resptab2{
		
		.resptab--item{
	    	width: 49.7%;
			padding-left: 46px;
			text-align: center;
			position: relative;
			
			
			span{
				float: none;
				position: relative;

			}
			
			[data-tab-item="item1"]::before,
			[data-tab-item="item2"]::before{
				content: "";
				width: 30px;
				height: 30px;
				left: -46px;
				margin-right: 15px;
				position: absolute;
				display: inline-block;
			}

			[data-tab-item="item1"]::before{
				background: url(../../images/icon/icon3.png) 50% 50% no-repeat;
				background-size: 100%;
			}
			[data-tab-item="item2"]::before{
				background: url(../../images/icon/icon4.png) 50% 50% no-repeat;	
				background-size: 100%;
			}

		}
	}


	.resptab{
		width: 784px !important;
	    margin-left: auto !important;
	    margin-right: auto !important;
	    
	    &--item{

			color: #000;
			width: 32.95%;
			background: #E9E9E9;
			padding: 16px 15px;
			display: inline-block;
			text-decoration: none;
			-webkit-border-radius: 5px 5px 0 0;
			        border-radius: 5px 5px 0 0;
			
			.img_box{
				float: left;
				width: 30px;
				height: 30px;
				margin-right: 15px;
				display: inline-block;
			}

			span{
				float: left;
				font-size: 12px;
				line-height: 2.5;
				font-weight: bold;
				display: inline-block;
				text-transform: uppercase;
			}

			
			&.resp-tab-active{
				color: #fff;
				background-color: #303030;
			}

			&:not(:last-child){
				margin-right: 4px;
			}
	    }

	    &--content{
	    	// display: none;
	    	min-height: 515px;
		    overflow: hidden;
		    border: 1px solid #303030;
		    -webkit-border-radius: 3px 3px 7px 7px;
		    border-radius: 3px 3px 7px 7px;
	    }
	}


/*-----------  TABS responsive  ----------*/

@media only screen and (max-width: 880px) {
	.resptab{width: 100% !important;}
}

@media only screen and (max-width: 768px) {
	.resptab{
		.resp-accordion{
			
			color: #000;
			width: 100%;
			background: #E9E9E9;
			padding: 16px 15px;
			display: inline-block;
			text-decoration: none;
			
			-webkit-border-radius: 5px;
			        border-radius: 5px;
			
			.img_box{
				float: left;
				width: 30px;
				height: 30px;
				margin-right: 15px;
				display: inline-block;
			}

			span{
				float: left;
				font-size: 12px;
				line-height: 2.5;
				font-weight: bold;
				display: inline-block;
				text-transform: uppercase;
			}

			
			&.resp-tab-active{
				color: #fff;
				background-color: #303030;
			}

			&:not(:last-child){
				margin-right: 4px;
			}
			
			span:last-child{
				font-size: 14px;
				text-align: center;
				display: inline-block;
				width: calc(100% - 90px);
			}
		}

		.resp-arrow{
			float: right !important;
			width: 30px;
			height: 30px;
			margin-top: 0 !important;
			border: none !important;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background: #747474 url(../../images/icon/arr_down.png) 50% 50% no-repeat;
			-webkit-background-size: 50%;
			     -o-background-size: 50%;
			        background-size: 50%;
		}

		h2.resp-tab-active{
			-webkit-border-radius: 5px 5px 0 0 ;
			        border-radius: 5px 5px 0 0 ;
			.resp-arrow{
				background-color: #181818;
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}
	}

	.resp-tab-active+.resptab--content{
		margin-top: -3px;
		margin-bottom: 18px;
		-webkit-border-radius: 0 0 5px 5px;
		        border-radius: 0 0 5px 5px;
	}

	.resptab2{
		.resp-accordion{
			span:last-child{
				float: none;
				width: auto;
				padding-left: 45px;
				position: relative;
			}
			margin-bottom: 4px;
		}

		.resptab--content{
			padding-top: 15px;
		}
			

		[data-tab-item="item1"]::before,
		[data-tab-item="item2"]::before{
			content: "";
			width: 30px;
			height: 30px;
			left: 0px;
			margin-right: 15px;
			position: absolute;
			display: inline-block;
		}

		[data-tab-item="item1"]::before{
			background: url(../../images/icon/icon3.png) 50% 50% no-repeat;
			background-size: 100%;
		}
		[data-tab-item="item2"]::before{
			background: url(../../images/icon/icon4.png) 50% 50% no-repeat;	
			background-size: 100%;
		}
	}

	.personal_data::before{display: none;}
}

@media only screen and (max-width: 668px) {
	.personal_data{
		padding: 0 15px 20px;
		
		.form{
			width: 100%;
		}

		.grid--45p{
			width: 100%;
			float: none;
		}

		.button{
			width: 200px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		.form__row.al_right{text-align: center;}
	}
	
}

@media only screen and (max-width: 620px) {
	.prizes {
		
		.prize{
			width: 100%;
			float: none;
			margin-bottom: 20px;
			
			.img_box{
				width: 210px;
				margin-left: auto;
				margin-right: auto;
			}
			
			&:first-child{margin-right: 0;}
			&:last-child{margin-left: 0;}

			&:nth-child(2){
				width: 230px;
			}
			
		}
	}

	.resptab--content{
		min-height: 415px;
	}
}