/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title--1{
    font-size: 50px;
    line-height: 1;
    font-family: 'clarence_cyrillicregular';
  }

  .title--2{
    font-size: 36px;
    line-height: 1;
  }

  .title--3{
    font-size: 24px;
    line-height: 1.3;
  }

  .title--4{
    font-size: 16px;
    line-height: 1.2;
  }

  .title--5{
    font-size: 13px;
    line-height: 1.2;
  }

  .title--6{
    font-size: 12px;
    line-height: 1.2;
  }


  .fz36{font-size: 36px;}
  .fz14{font-size: 14px;}

/*-----------  TITLES responsive  ----------*/

@media only screen and (max-width: 550px) {
  .title--1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 479px) {
  body{min-width:300px;}

  .title--1 {
    font-size: 27px;
  }
  .title--2 {
    font-size: 28px;
  }

}