@charset "UTF-8";
/*RESET - ╤ü╨▒╤Ç╨╛╤ü ╤ü╤é╨╕╨╗╨╡╨╣*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic");
/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

/* line 27, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 31, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 35, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../scss/_reset.scss */
blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../scss/_reset.scss */
i, em {
  font-style: italic;
}

/* line 55, ../scss/_reset.scss */
strong, b {
  font-weight: bold;
}

/* line 59, ../scss/_reset.scss */
s {
  text-decoration: line-through;
}

/* line 10, ../scss/_default.scss */
html {
  height: 100%;
}

/* line 15, ../scss/_default.scss */
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #231f20;
  background: #fff;
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, ../scss/_default.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*================================>> FONTS  <<========================================*/
@font-face {
  font-family: 'clarence_cyrillicregular';
  src: url("../../font/clarencecyrillic-regular-webfont.woff2") format("woff2"), url("../../font/clarencecyrillic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 50, ../scss/_default.scss */
.clarence {
  font-family: 'clarence_cyrillicregular', Arial, sans-serif;
}

/* line 54, ../scss/_default.scss */
.fw_med {
  font-weight: 500;
}

/* line 55, ../scss/_default.scss */
.fw_bold {
  font-weight: bold;
}

/* line 56, ../scss/_default.scss */
.fw_black {
  font-weight: 900;
}

/* line 63, ../scss/_default.scss */
::selection,
::-moz-selection {
  background: #000;
  color: #fff;
}

/* line 69, ../scss/_default.scss */
.clear, .clearfix {
  clear: both;
  float: none;
}

/* line 75, ../scss/_default.scss */
p {
  margin: 0 0 15px 0;
  min-height: 1px;
}

/* line 81, ../scss/_default.scss */
a {
  color: #231f20;
  text-decoration: underline;
}
/* line 85, ../scss/_default.scss */
a:hover {
  text-decoration: none;
}

/* line 90, ../scss/_default.scss */
.tac {
  text-align: center;
}

/* line 94, ../scss/_default.scss */
.tal {
  text-align: left;
}

/* line 98, ../scss/_default.scss */
.tar {
  text-align: right;
}

/*----------------------> Basic Classes <------------------*/
/* line 103, ../scss/_default.scss */
.reg {
  text-transform: uppercase;
}

/* line 104, ../scss/_default.scss */
.f_left {
  float: left;
}

/* line 105, ../scss/_default.scss */
.f_right {
  float: right;
}

/* line 106, ../scss/_default.scss */
.al_left {
  text-align: left;
}

/* line 107, ../scss/_default.scss */
.al_right {
  text-align: right;
}

/* line 108, ../scss/_default.scss */
.al_center {
  text-align: center;
}

/* line 110, ../scss/_default.scss */
.td_und {
  text-decoration: underline;
}

/* line 112, ../scss/_default.scss */
.it {
  font-style: italic;
}

/* line 113, ../scss/_default.scss */
.let {
  letter-spacing: -1px;
}

/* line 115, ../scss/_default.scss */
.full_w {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 122, ../scss/_default.scss */
.val_mid {
  vertical-align: middle;
}

/* line 124, ../scss/_default.scss */
.col_2 div {
  width: 48%;
}

/*----------------------> Indents Zero <------------------*/
/* line 130, ../scss/_default.scss */
.m_b_zero {
  margin-bottom: 0 !important;
}

/* line 131, ../scss/_default.scss */
.m_l_zero {
  margin-left: 0 !important;
}

/* line 132, ../scss/_default.scss */
.p_b_zero {
  padding-bottom: 0 !important;
}

/* line 133, ../scss/_default.scss */
.p_l_zero {
  padding-left: 0 !important;
}

/*----------------------> Positions <------------------*/
/* line 136, ../scss/_default.scss */
.p_abs {
  position: absolute;
}

/* line 137, ../scss/_default.scss */
.p_rel {
  position: relative;
}

/* line 138, ../scss/_default.scss */
.p_fix {
  position: fixed;
}

/* line 139, ../scss/_default.scss */
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

/* line 140, ../scss/_default.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 147, ../scss/_default.scss */
.wrapper {
  overflow: hidden;
}

/* line 148, ../scss/_default.scss */
.f_elem > *:first-child {
  margin-top: 0 !important;
}

/* line 149, ../scss/_default.scss */
.f_elem1 > *:first-child {
  margin-top: 0 !important;
  border: none !important;
}

/* line 151, ../scss/_default.scss */
.bg_none {
  background: none !important;
}

/*----------------------> Displays <------------------*/
/* line 155, ../scss/_default.scss */
.d_block {
  display: block;
}

/* line 156, ../scss/_default.scss */
.d_ib {
  display: inline-block;
}

/* line 157, ../scss/_default.scss */
.d_none {
  display: none;
}

/* line 158, ../scss/_default.scss */
.d_tc {
  display: table-cell;
}

/* line 159, ../scss/_default.scss */
.d_t {
  display: table;
}

/* line 161, ../scss/_default.scss */
.d_center {
  margin-left: auto;
  margin-right: auto;
}

/*=====================> Content ========================*/
/* line 168, ../scss/_default.scss */
.container {
  width: 936px;
  margin-left: auto;
  margin-right: auto;
}

/* line 174, ../scss/_default.scss */
section[data-bg] {
  padding-bottom: 70px;
}

/* line 177, ../scss/_default.scss */
.img_box img {
  max-width: 100%;
}

/* line 180, ../scss/_default.scss */
.link {
  font-size: 12px;
}

/* line 183, ../scss/_default.scss */
a.td_und {
  text-decoration: underline;
}

/* line 184, ../scss/_default.scss */
a.td_und:hover {
  text-decoration: none;
}

/*=====================> Paragraphs ========================*/
/* line 191, ../scss/_default.scss */
p {
  margin-bottom: 18px;
  line-height: 1.2;
}

/* line 192, ../scss/_default.scss */
.mb1 {
  margin-bottom: 1px;
}

/* line 193, ../scss/_default.scss */
.mb2 {
  margin-bottom: 2px;
}

/* line 194, ../scss/_default.scss */
.mb3 {
  margin-bottom: 3px;
}

/* line 195, ../scss/_default.scss */
.mb4 {
  margin-bottom: 4px;
}

/* line 196, ../scss/_default.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 197, ../scss/_default.scss */
.mb6 {
  margin-bottom: 6px;
}

/* line 198, ../scss/_default.scss */
.mb7 {
  margin-bottom: 7px;
}

/* line 199, ../scss/_default.scss */
.mb8 {
  margin-bottom: 8px;
}

/* line 200, ../scss/_default.scss */
.mb9 {
  margin-bottom: 9px;
}

/* line 201, ../scss/_default.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 202, ../scss/_default.scss */
.mb11 {
  margin-bottom: 11px;
}

/* line 203, ../scss/_default.scss */
.mb12 {
  margin-bottom: 12px;
}

/* line 204, ../scss/_default.scss */
.mb13 {
  margin-bottom: 13px;
}

/* line 205, ../scss/_default.scss */
.mb14 {
  margin-bottom: 14px;
}

/* line 206, ../scss/_default.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 207, ../scss/_default.scss */
.mb16 {
  margin-bottom: 16px;
}

/* line 208, ../scss/_default.scss */
.mb17 {
  margin-bottom: 17px;
}

/* line 209, ../scss/_default.scss */
.mb18 {
  margin-bottom: 18px;
}

/* line 210, ../scss/_default.scss */
.mb19 {
  margin-bottom: 19px;
}

/* line 211, ../scss/_default.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 212, ../scss/_default.scss */
.mb21 {
  margin-bottom: 21px;
}

/* line 213, ../scss/_default.scss */
.mb22 {
  margin-bottom: 22px;
}

/* line 214, ../scss/_default.scss */
.mb23 {
  margin-bottom: 23px;
}

/* line 215, ../scss/_default.scss */
.mb24 {
  margin-bottom: 24px;
}

/* line 216, ../scss/_default.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 217, ../scss/_default.scss */
.mb26 {
  margin-bottom: 26px;
}

/* line 218, ../scss/_default.scss */
.mb27 {
  margin-bottom: 27px;
}

/* line 219, ../scss/_default.scss */
.mb28 {
  margin-bottom: 28px;
}

/* line 220, ../scss/_default.scss */
.mb29 {
  margin-bottom: 29px;
}

/* line 221, ../scss/_default.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 222, ../scss/_default.scss */
.mb31 {
  margin-bottom: 31px;
}

/* line 223, ../scss/_default.scss */
.mb32 {
  margin-bottom: 32px;
}

/* line 224, ../scss/_default.scss */
.mb33 {
  margin-bottom: 33px;
}

/* line 225, ../scss/_default.scss */
.mb34 {
  margin-bottom: 34px;
}

/* line 226, ../scss/_default.scss */
.mb35 {
  margin-bottom: 35px;
}

/* line 227, ../scss/_default.scss */
.mb36 {
  margin-bottom: 36px;
}

/* line 228, ../scss/_default.scss */
.mb37 {
  margin-bottom: 37px;
}

/* line 229, ../scss/_default.scss */
.mb38 {
  margin-bottom: 38px;
}

/* line 230, ../scss/_default.scss */
.mb39 {
  margin-bottom: 39px;
}

/* line 231, ../scss/_default.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 232, ../scss/_default.scss */
.mb41 {
  margin-bottom: 41px;
}

/* line 233, ../scss/_default.scss */
.mb42 {
  margin-bottom: 42px;
}

/* line 234, ../scss/_default.scss */
.mb43 {
  margin-bottom: 43px;
}

/* line 235, ../scss/_default.scss */
.mb44 {
  margin-bottom: 44px;
}

/* line 236, ../scss/_default.scss */
.mb45 {
  margin-bottom: 45px;
}

/* line 237, ../scss/_default.scss */
.mb46 {
  margin-bottom: 46px;
}

/* line 238, ../scss/_default.scss */
.mb47 {
  margin-bottom: 47px;
}

/* line 239, ../scss/_default.scss */
.mb48 {
  margin-bottom: 48px;
}

/* line 240, ../scss/_default.scss */
.mb49 {
  margin-bottom: 49px;
}

/* line 241, ../scss/_default.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 242, ../scss/_default.scss */
.mb51 {
  margin-bottom: 51px;
}

/* line 243, ../scss/_default.scss */
.mb52 {
  margin-bottom: 52px;
}

/* line 244, ../scss/_default.scss */
.mb53 {
  margin-bottom: 53px;
}

/* line 245, ../scss/_default.scss */
.mb54 {
  margin-bottom: 54px;
}

/* line 246, ../scss/_default.scss */
.mb55 {
  margin-bottom: 55px;
}

/* line 247, ../scss/_default.scss */
.mb58 {
  margin-bottom: 58px;
}

/* line 248, ../scss/_default.scss */
.mb60 {
  margin-bottom: 60px;
}

/* line 249, ../scss/_default.scss */
.mb62 {
  margin-bottom: 62px;
}

/* line 250, ../scss/_default.scss */
.mb75 {
  margin-bottom: 75px;
}

/* line 251, ../scss/_default.scss */
.mb95 {
  margin-bottom: 95px;
}

/* line 253, ../scss/_default.scss */
.mr20 {
  margin-right: 20px;
}

/* line 254, ../scss/_default.scss */
.mr25 {
  margin-right: 25px;
}

/* line 256, ../scss/_default.scss */
.mt25 {
  margin-top: 25px;
}

/* line 257, ../scss/_default.scss */
.mt40 {
  margin-top: 40px;
}

/*=====================> Lists <========================*/
/* line 261, ../scss/_default.scss */
.list1 {
  font-family: Arial;
  color: #000;
  font-size: 16px;
  line-height: 1.2;
}

/* line 273, ../scss/_default.scss */
.list2 li {
  background: url(../images/marker1.png) 0 7px no-repeat;
  padding-left: 20px;
}

/* line 280, ../scss/_default.scss */
.list3 li {
  background: url(../images/marker1.png) 0 7px no-repeat;
  padding-left: 20px;
}

/*================================>> hovers <<========================================*/
/* line 287, ../scss/_default.scss */
a {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 293, ../scss/_default.scss */
a:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/*===================== Grid ========================*/
/* line 303, ../scss/_default.scss */
.grid--33p {
  width: 33%;
}

/* line 305, ../scss/_default.scss */
.grid--37p {
  width: 37%;
}

/* line 307, ../scss/_default.scss */
.grid--41p {
  width: 41%;
}

/* line 309, ../scss/_default.scss */
.grid--45p {
  width: 45%;
}

/* line 311, ../scss/_default.scss */
.grid--47p {
  width: 46.5%;
}

/* line 313, ../scss/_default.scss */
.grid--50p {
  width: 50%;
}

/* line 315, ../scss/_default.scss */
.grid--55p {
  width: 55%;
}

/* line 317, ../scss/_default.scss */
.grid--58p {
  width: 58%;
}

/* line 319, ../scss/_default.scss */
.grid--65p {
  width: 65%;
}

/*----------------   INDEX   ----------------*/
/* line 322, ../scss/_default.scss */
[data-bg="index_bg"] {
  position: relative;
  padding-bottom: 200px !important;
  background: url(../../images/bg_img.png) 50% 30px no-repeat;
  -webkit-background-size: 67%;
  -o-background-size: 67%;
  background-size: 67%;
}
/* line 330, ../scss/_default.scss */
[data-bg="index_bg"]::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  position: absolute;
  background: url(../../images/bg_img3.png) 50% 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

/* line 344, ../scss/_default.scss */
.product_main {
  padding-top: 60px;
}

/* line 348, ../scss/_default.scss */
.prize_img {
  text-align: center;
}
/* line 350, ../scss/_default.scss */
.prize_img img {
  width: 79%;
}

/* line 355, ../scss/_default.scss */
.step_wrap {
  padding-left: 45px;
}

/* line 358, ../scss/_default.scss */
.step {
  margin-bottom: 16px;
}
/* line 361, ../scss/_default.scss */
.step--numb {
  color: #fff;
  width: 33px;
  height: 33px;
  margin-top: 4px;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.2;
  padding-left: 6px;
  font-style: italic;
  margin-right: 18px;
  background-color: #E00000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 377, ../scss/_default.scss */
.step--info {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

/*----------------   END INDEX   ----------------*/
/*----------------   CABINET   ----------------*/
/* line 390, ../scss/_default.scss */
[data-bg="sides_bg"] {
  position: relative;
}
/* line 393, ../scss/_default.scss */
[data-bg="sides_bg"]::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  position: absolute;
  background: url(../../images/bg_img1.png) 50% 0% no-repeat;
  background-size: 90%;
}
/* line 404, ../scss/_default.scss */
[data-bg="sides_bg"]::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  position: absolute;
  background: url(../../images/bg_img2.png) 50% 0% no-repeat;
  background-size: 90%;
}

/*----------------   END CABINET   ----------------*/
/*----------------   FEEDBACK   ----------------*/
/* line 423, ../scss/_default.scss */
.feedback .form__textarea {
  height: 215px;
}

/* line 428, ../scss/_default.scss */
.captcha {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}
/* line 434, ../scss/_default.scss */
.captcha * {
  float: left;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 441, ../scss/_default.scss */
.captcha .img_box {
  width: 110px;
  height: 33px;
  overflow: hidden;
  background-color: #F0F0F0;
}
/* line 448, ../scss/_default.scss */
.captcha--refresh {
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
  padding: 6px 0 3px;
  background-color: #999;
}
/* line 455, ../scss/_default.scss */
.captcha--refresh img {
  float: none;
  width: 53%;
}
/* line 460, ../scss/_default.scss */
.captcha--refresh:hover {
  opacity: .8;
}
/* line 463, ../scss/_default.scss */
.captcha--input {
  min-width: 170px;
  color: #999;
  outline: none;
  font-size: 11px;
  font-weight: 500;
  border: 2px solid #CCC;
  padding: 8.5px 9px;
}

/*----------------   END FEEDBACK   ----------------*/
/*----------------   PRIZES   ----------------*/
/* line 481, ../scss/_default.scss */
.prizes {
  text-align: center;
}
/* line 484, ../scss/_default.scss */
.prizes .prize {
  width: 210px;
  display: inline-block;
}
/* line 488, ../scss/_default.scss */
.prizes .prize img {
  max-width: 100%;
}
/* line 492, ../scss/_default.scss */
.prizes .prize:first-child {
  margin-right: -50px;
}
/* line 496, ../scss/_default.scss */
.prizes .prize:nth-child(2) {
  width: 242px;
  position: relative;
}
/* line 501, ../scss/_default.scss */
.prizes .prize:last-child {
  margin-left: -50px;
}
/* line 507, ../scss/_default.scss */
.prizes + .form .form__elem--str:nth-child(2) {
  margin: 0 63px;
}

/*----------------   END PRIZES   ----------------*/
/*=====================================Winners=====================================================*/
/* line 518, ../scss/_default.scss */
.winners_block {
  padding-top: 20px;
}
/* line 521, ../scss/_default.scss */
.winners_block--item {
  width: 33%;
}
/* line 524, ../scss/_default.scss */
.winners_block--item .img_box {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
/* line 531, ../scss/_default.scss */
.winners_block--item h2 {
  padding: 0 28px;
}

/*=====================================Faq========================================================*/
/* line 539, ../scss/_default.scss */
.accordion {
  width: 784px;
  margin-left: auto;
  margin-right: auto;
}
/* line 544, ../scss/_default.scss */
.accordion--item {
  overflow: hidden;
}
/* line 547, ../scss/_default.scss */
.accordion--item:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 551, ../scss/_default.scss */
.accordion--item:last-child {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* line 556, ../scss/_default.scss */
.accordion--item:last-child .accordion--item--link {
  margin-bottom: 0;
}
/* line 558, ../scss/_default.scss */
.accordion--item--link {
  line-height: 2;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 4px;
  padding: 14px 28px;
  position: relative;
  background-color: #F1F1F1;
  font-family: 'corporateacon', Helvatica, sans-serif;
}
/* line 569, ../scss/_default.scss */
.accordion--item--link::after {
  content: "";
  width: 30px;
  height: 30px;
  top: 50%;
  right: 15px;
  margin-top: -15px;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5) url(../../images/icon/arr_down.png) 50% 50% no-repeat;
  -webkit-background-size: 11px 7px;
  -o-background-size: 11px 7px;
  background-size: 11px 7px;
}
/* line 585, ../scss/_default.scss */
.accordion--item--link.active {
  color: #fff;
  background-color: #e00000;
}
/* line 589, ../scss/_default.scss */
.accordion--item--link.active::after {
  background-color: transparent;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 599, ../scss/_default.scss */
.accordion--item .sub-menu {
  display: none;
  font-size: 16px;
  margin-top: -4px;
  margin-bottom: 4px;
  padding: 33px 28px;
  line-height: 1.2;
  background-color: #EEE;
}

/* line 610, ../scss/_default.scss */
.accordion--item--link::after {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

/* line 613, ../scss/_default.scss */
.index_mobile_img {
  display: none;
  height: 20px;
  margin-top: 60px;
  background: url(../../images/horizontal_dats.png) 50% 50% repeat-x;
}

/*-----------  DEFAULT responsive  ----------*/
@media only screen and (max-width: 1360px) {
  /* line 625, ../scss/_default.scss */
  [data-bg="index_bg"] {
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 634, ../scss/_default.scss */
  [data-bg="index_bg"] {
    padding-bottom: 100px !important;
  }
}
@media only screen and (max-width: 1030px) {
  /* line 641, ../scss/_default.scss */
  [data-bg="sides_bg"]::before,
  [data-bg="sides_bg"]::after {
    width: 100px;
    z-index: -1;
    background-repeat: repeat-y;
  }
}
@media only screen and (max-width: 1280px) {
  /* line 649, ../scss/_default.scss */
  [data-bg="sides_bg"]::before,
  [data-bg="sides_bg"]::after {
    z-index: -1;
  }
}
@media only screen and (max-width: 995px) {
  /* line 656, ../scss/_default.scss */
  body {
    min-width: 768px;
  }

  /* line 657, ../scss/_default.scss */
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 661, ../scss/_default.scss */
  [data-bg="sides_bg"]::before,
  [data-bg="sides_bg"]::after {
    z-index: -1;
  }
}
@media only screen and (max-width: 950px) {
  /* line 668, ../scss/_default.scss */
  .container {
    width: auto;
  }

  /* line 671, ../scss/_default.scss */
  .grid--33p {
    width: 30%;
  }

  /* line 673, ../scss/_default.scss */
  .winners_block {
    text-align: -webkit-center;
    padding-top: 0px;
  }
  /* line 677, ../scss/_default.scss */
  .winners_block--item {
    width: 31%;
    padding: 10px;
  }
  /* line 682, ../scss/_default.scss */
  .winners_block--item .title--3 {
    font-size: 20px;
  }

  /* line 686, ../scss/_default.scss */
  .accordion {
    width: 668px;
  }

  /* line 690, ../scss/_default.scss */
  .step_wrap {
    padding-left: 0;
  }

  /* line 694, ../scss/_default.scss */
  .step--info {
    font-size: 12px;
  }

  /* line 696, ../scss/_default.scss */
  [data-bg="index_bg"]::after {
    top: 80%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 701, ../scss/_default.scss */
  body {
    min-width: 420px;
  }

  /* line 702, ../scss/_default.scss */
  #content {
    padding: 160px 0 0;
  }

  /* line 704, ../scss/_default.scss */
  .step_wrap {
    padding-left: 30px;
  }

  /* line 708, ../scss/_default.scss */
  .grid--65p {
    width: 100%;
    float: none;
  }

  /* line 712, ../scss/_default.scss */
  .prize_img img {
    width: 100%;
  }

  /* line 716, ../scss/_default.scss */
  .product_main {
    display: none;
  }

  /* line 719, ../scss/_default.scss */
  [data-bg="index_bg"] {
    background: none;
  }

  /* line 722, ../scss/_default.scss */
  .accordion {
    width: 100%;
  }

  /* line 727, ../scss/_default.scss */
  [data-bg="sides_bg"]::before,
  [data-bg="sides_bg"]::after {
    display: none;
  }

  /* line 732, ../scss/_default.scss */
  [data-bg="index_bg"] {
    padding-bottom: 0 !important;
  }
  /* line 734, ../scss/_default.scss */
  [data-bg="index_bg"]::after {
    display: none;
  }

  /* line 739, ../scss/_default.scss */
  .winners_block--item {
    width: 100%;
    float: none;
  }
  /* line 743, ../scss/_default.scss */
  .winners_block--item .title--3 {
    padding: 0;
  }

  /* line 747, ../scss/_default.scss */
  .desktop_vis {
    display: none;
  }
}
@media only screen and (max-width: 668px) {
  /* line 753, ../scss/_default.scss */
  .col_2 div {
    width: 100%;
    float: none;
    margin-bottom: 15px;
    text-align: center;
  }

  /* line 759, ../scss/_default.scss */
  [data-hr="vertical"]::before,
  [data-hr="vertical"]::after {
    display: none;
  }

  /* line 764, ../scss/_default.scss */
  .winners_block_item {
    width: 100%;
    float: none;
    padding: 10px;
  }

  /* line 769, ../scss/_default.scss */
  .form {
    float: none;
  }

  /* line 773, ../scss/_default.scss */
  [data-bg="index_bg"]::after {
    -webkit-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
  }
}
@media only screen and (max-width: 550px) {
  /* line 782, ../scss/_default.scss */
  .grid--37p,
  .grid--45p,
  .grid--47p,
  .grid--55p,
  .grid--58p {
    width: 100%;
    float: none;
  }

  /* line 790, ../scss/_default.scss */
  .step--info {
    font-size: 13px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 795, ../scss/_default.scss */
  body {
    min-width: 300px;
  }

  /* line 797, ../scss/_default.scss */
  .step_wrap {
    padding-left: 20px;
  }

  /* line 800, ../scss/_default.scss */
  section[data-bg] {
    padding-bottom: 10px;
  }

  /* line 803, ../scss/_default.scss */
  .winners_block--item {
    width: 100%;
    margin-bottom: 40px;
  }

  /* line 807, ../scss/_default.scss */
  .winners_block--item .img_box {
    margin-bottom: 5px;
  }
}
/* line 63, ../scss/_forms.scss */
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #c1c1c1;
}

/* line 70, ../scss/_forms.scss */
.form {
  margin: 20px 0 0;
}
/* line 73, ../scss/_forms.scss */
.form__label {
  display: block;
  color: #000;
  vertical-align: middle;
  font-size: 11px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0 0 0 0;
}
/* line 83, ../scss/_forms.scss */
.form__row {
  margin: 15px 0 0 0;
  position: relative;
}
/* line 88, ../scss/_forms.scss */
.form__input {
  background: none;
  height: 30px;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: none;
  border-radius: 5px;
}
/* line 96, ../scss/_forms.scss */
.form__input input {
  font-family: inherit;
  color: inherit;
  font-size: 13px;
  line-height: 2;
  text-align: left;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 0 12px;
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
}
/* line 114, ../scss/_forms.scss */
.form__textarea {
  background: none;
  height: 120px;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: none;
  border-radius: 5px;
}
/* line 122, ../scss/_forms.scss */
.form__textarea textarea {
  font-family: inherit;
  color: inherit;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  z-index: 2;
  display: block;
  width: 100%;
  height: inherit;
  padding: 10px;
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
  resize: none;
}
/* line 141, ../scss/_forms.scss */
.form__checkbox {
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 8px 0 0;
}
/* line 147, ../scss/_forms.scss */
.form__checkbox:first-child {
  margin-left: 0;
}
/* line 151, ../scss/_forms.scss */
.form__checkbox + .form__label {
  font-size: 12px;
}
/* line 155, ../scss/_forms.scss */
.form__checkbox input {
  box-shadow: none;
  width: 17px;
  height: 17px;
  border: none;
  display: inline-block;
  background: url(../../images/icon/checkbox.jpg) 50% 50% no-repeat;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0;
  cursor: pointer;
  outline: none;
}
/* line 168, ../scss/_forms.scss */
.form__checkbox input:checked {
  background: url(../../images/icon/checkbox_act.jpg) 50% 50% no-repeat;
  border: none;
}
/* line 175, ../scss/_forms.scss */
.form__radio {
  display: inline-block;
  margin: -2px 8px 0 0;
}
/* line 179, ../scss/_forms.scss */
.form__radio:first-child {
  margin-left: 0;
}
/* line 183, ../scss/_forms.scss */
.form__radio input {
  box-shadow: none;
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(../../images/icon/radio.jpg) -5px -5px no-repeat;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 197, ../scss/_forms.scss */
.form__radio input:checked {
  background: url(../../images/icon/radio.jpg) 87% -5px no-repeat;
}
/* line 205, ../scss/_forms.scss */
.form__select {
  position: relative;
}
/* line 208, ../scss/_forms.scss */
.form__select:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: 8px;
  top: 50%;
  margin: -2px 0 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #ccc;
}
/* line 222, ../scss/_forms.scss */
.form__select select {
  font-family: inherit;
  color: inherit;
  position: relative;
  font-size: 13px;
  line-height: 30px;
  height: 32px;
  outline: none;
  display: block;
  width: 100%;
  background: none;
  border: 1px solid #ccc;
  padding: 0 15px 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 244, ../scss/_forms.scss */
.form .addfile {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  height: 56px;
  line-height: 56px;
  font-size: 24px;
  text-align: center;
  background: #000;
  color: #ffffff;
  padding: 0;
  border-radius: 20px;
  font-family: inherit;
  font-weight: normal;
}
/* line 260, ../scss/_forms.scss */
.form .addfile img {
  display: none !important;
}
/* line 264, ../scss/_forms.scss */
.form .addfile--added {
  background-position: 0 -30px;
}
/* line 267, ../scss/_forms.scss */
.form .addfile--added .addfile__title {
  display: none;
}
/* line 270, ../scss/_forms.scss */
.form .addfile--added input {
  display: none;
}
/* line 273, ../scss/_forms.scss */
.form .addfile--added .addfile__name {
  display: block;
}
/* line 278, ../scss/_forms.scss */
.form .addfile__clear {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 0 0 10px;
  vertical-align: middle;
}
/* line 287, ../scss/_forms.scss */
.form .addfile__title {
  cursor: pointer;
}
/* line 295, ../scss/_forms.scss */
.form .addfile input {
  cursor: pointer;
  margin-top: -40px;
  margin-right: -10px;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 40px;
  height: 50px;
  float: right;
}
/* line 309, ../scss/_forms.scss */
.form__elem--str {
  display: inline-block;
}
/* line 311, ../scss/_forms.scss */
.form__elem--str .form__label {
  display: inline-block;
}
/* line 317, ../scss/_forms.scss */
.form__alert {
  background: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  color: #999;
}
/* line 324, ../scss/_forms.scss */
.form__error {
  color: #ff0000;
  font-size: 12px;
  line-height: 14px;
  display: none;
}
/* line 333, ../scss/_forms.scss */
.form__control--error .form__error {
  display: block;
}
/* line 337, ../scss/_forms.scss */
.form__control--error .form__input {
  border-color: #f00;
}
/* line 341, ../scss/_forms.scss */
.form__control--error .form__textarea {
  border-color: #f00;
}
/* line 345, ../scss/_forms.scss */
.form__control--error .form__select select {
  border-color: #f00;
}
/* line 349, ../scss/_forms.scss */
.form__control--error .form__select:after {
  border-top-color: #f00;
}

/* line 358, ../scss/_forms.scss */
.error .form__input {
  border: 2px solid #E00000;
}
/* line 360, ../scss/_forms.scss */
.error .form__error {
  display: block;
  margin-top: 7px;
}
/* line 365, ../scss/_forms.scss */
.error .button2,
.error .button {
  background-color: #AFAFAF;
}

/*------------   Promo code input    -----------*/
/* line 372, ../scss/_forms.scss */
.promo_code {
  width: 274px;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  background-color: #E00000;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 381, ../scss/_forms.scss */
.promo_code--input {
  float: left;
  border: none;
  outline: none;
  color: #231F20;
  font-size: 21px;
  padding: 9px 15px;
  background-color: #FFF;
  width: calc(100% - 49px);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 394, ../scss/_forms.scss */
.promo_code--btn {
  color: #FFF;
  width: 45px;
  float: right;
  border: none;
  outline: none;
  line-height: 2.2;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
}

/* line 411, ../scss/_forms.scss */
.resp_vis {
  display: none;
}

/*------------   END Promo code input    -----------*/
/*------------   Personal data    -----------*/
/* line 418, ../scss/_forms.scss */
.personal_data {
  position: relative;
  padding: 0px 60px 55px;
}
/* line 422, ../scss/_forms.scss */
.personal_data::before {
  content: "";
  left: 50%;
  top: 40px;
  height: auto;
  bottom: 70px;
  position: absolute;
  border-left: 1px dotted #d3d3d3;
}
/* line 432, ../scss/_forms.scss */
.personal_data .form {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
/* line 438, ../scss/_forms.scss */
.personal_data--birth_day {
  width: 50px;
  float: left;
  margin-right: 10px;
}
/* line 444, ../scss/_forms.scss */
.personal_data--birth_month {
  width: 105px;
  float: left;
  margin-right: 10px;
}
/* line 450, ../scss/_forms.scss */
.personal_data--birth_year {
  width: 65px;
  float: left;
}
/* line 458, ../scss/_forms.scss */
.personal_data--radio_m input {
  width: 32px;
  height: 32px;
  border: none;
  background: url(../../images/icon/icon_m.png) 50% 50% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 467, ../scss/_forms.scss */
.personal_data--radio_m input:checked {
  background-image: url(../../images/icon/icon_m_act.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-color: #fff;
  border: none;
}
/* line 479, ../scss/_forms.scss */
.personal_data--radio_w input {
  width: 32px;
  height: 32px;
  border: none;
  background: url(../../images/icon/icon_w.png) 50% 50% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 488, ../scss/_forms.scss */
.personal_data--radio_w input:checked {
  background-image: url(../../images/icon/icon_w_act.png);
  background-size: 100%;
  background-color: #fff;
  background-position: 50% 50%;
  border: none;
}
/* line 497, ../scss/_forms.scss */
.personal_data--address {
  width: 77.5px;
  float: left;
}
/* line 501, ../scss/_forms.scss */
.personal_data--address:not(:last-child) {
  margin-right: 17px;
}

/*------------   END Personal data    -----------*/
/* line 509, ../scss/_forms.scss */
.checkbox_row {
  margin-top: 5px;
}

/* line 513, ../scss/_forms.scss */
[data-form-size="middle"] {
  width: 658px;
  margin-left: auto;
  margin-right: auto;
}

/* line 519, ../scss/_forms.scss */
[data-form-size="240"] {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  /* line 527, ../scss/_forms.scss */
  [data-form-size="middle"] {
    width: 100%;
  }

  /* line 530, ../scss/_forms.scss */
  .resp_vis {
    display: block;
    margin-top: 50px;
  }

  /* line 534, ../scss/_forms.scss */
  .promo_code {
    width: 274px;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E00000;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }

  /* line 543, ../scss/_forms.scss */
  .index_mobile_img {
    display: block;
  }
}
@media only screen and (max-width: 668px) {
  /* line 549, ../scss/_forms.scss */
  .personal_data--birth_day {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 555, ../scss/_forms.scss */
  .captcha {
    width: 100%;
  }

  /* line 556, ../scss/_forms.scss */
  .captcha--input {
    width: 100%;
    margin-top: 15px;
  }

  /* line 561, ../scss/_forms.scss */
  .form__checkbox + .form__label {
    width: calc(100% - 30px);
  }
}
/* line 1, ../scss/_tabs.scss */
.tabs {
  width: 784px;
  margin-left: auto;
  margin-right: auto;
}

/* line 9, ../scss/_tabs.scss */
.tabs2 .tabs__bookmark {
  width: 49.6%;
  padding-left: 46px;
  text-align: center;
}
/* line 14, ../scss/_tabs.scss */
.tabs2 .tabs__bookmark span {
  float: none;
  position: relative;
}
/* line 20, ../scss/_tabs.scss */
.tabs2 .tabs__bookmark[data-tab-item="item1"] span::before, .tabs2 .tabs__bookmark[data-tab-item="item2"] span::before {
  content: "";
  width: 30px;
  height: 30px;
  left: -46px;
  margin-right: 15px;
  position: absolute;
  display: inline-block;
}
/* line 31, ../scss/_tabs.scss */
.tabs2 .tabs__bookmark[data-tab-item="item1"] span::before {
  background: url(../../images/icon/icon3.png) 50% 50% no-repeat;
  background-size: 100%;
}
/* line 35, ../scss/_tabs.scss */
.tabs2 .tabs__bookmark[data-tab-item="item2"] span::before {
  background: url(../../images/icon/icon4.png) 50% 50% no-repeat;
  background-size: 100%;
}
/* line 42, ../scss/_tabs.scss */
.tabs2 .tabs__wrapper {
  margin-top: -1px;
  position: relative;
}
/* line 47, ../scss/_tabs.scss */
.tabs2 .tab {
  padding: 24px;
}

/* line 52, ../scss/_tabs.scss */
.tab {
  display: none;
  min-height: 515px;
  overflow: hidden;
  border: 1px solid #303030;
  -webkit-border-radius: 3px 3px 7px 7px;
  border-radius: 3px 3px 7px 7px;
}
/* line 54, ../scss/_tabs.scss */
.tabs__bookmark {
  color: #000;
  width: 32.95%;
  background: #E9E9E9;
  padding: 16px 15px;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 64, ../scss/_tabs.scss */
.tabs__bookmark .img_box {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  display: inline-block;
}
/* line 72, ../scss/_tabs.scss */
.tabs__bookmark span {
  float: left;
  font-size: 12px;
  line-height: 2.5;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}
/* line 81, ../scss/_tabs.scss */
.tabs__bookmarks {
  font-size: 18px;
  line-height: 20px;
}
/* line 86, ../scss/_tabs.scss */
.tabs__bookmark--active {
  color: #fff;
  background: #303030;
}
/* line 92, ../scss/_tabs.scss */
.tabs__wrapper {
  margin-top: -4px;
}
/* line 105, ../scss/_tabs.scss */
.tab--active {
  display: block;
}

/*------------------------PLUGIN STYLE-----------------*/
/* line 112, ../scss/_tabs.scss */
ul.resp-tabs-list {
  margin: 0px;
  padding: 0px;
}

/* line 117, ../scss/_tabs.scss */
.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  /*padding: 13px 15px;*/
  /*margin: 0 4px 0 0;*/
  list-style: none;
  cursor: pointer;
  float: left;
}

/* line 128, ../scss/_tabs.scss */
.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

/* line 134, ../scss/_tabs.scss */
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

/* line 140, ../scss/_tabs.scss */
.resp-tab-content {
  display: none;
  /*padding: 15px;*/
}

/* line 145, ../scss/_tabs.scss */
.resp-tab-active {
  /*border: 1px solid #5AB1D0 !important;*/
  border-bottom: none;
  margin-bottom: -1px !important;
  /*padding: 12px 14px 14px 14px !important;*/
  /*border-top: 4px solid #5AB1D0 !important;*/
  /*border-bottom: 0px #fff solid !important;*/
}

/* line 154, ../scss/_tabs.scss */
.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

/* line 159, ../scss/_tabs.scss */
.resp-content-active, .resp-accordion-active {
  display: block;
}

/* line 163, ../scss/_tabs.scss */
.resp-tab-content {
    /*border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;*/
}

/* line 168, ../scss/_tabs.scss */
h2.resp-accordion {
  font-size: 16px;
  /*border: 1px solid #c1c1c1;*/
  /*border-top: 0px solid #c1c1c1;*/
  margin: 0px;
  padding: 10px 15px;
}

/* line 176, ../scss/_tabs.scss */
h2.resp-tab-active {
  /*border-bottom: 0px solid #c1c1c1 !important;*/
  /*margin-bottom: 0px !important;*/
  /*padding: 10px 15px !important;*/
}

/* line 182, ../scss/_tabs.scss */
h2.resp-tab-title:last-child {
  /*border-bottom: 12px solid #c1c1c1 !important;*/
  background: blue;
}

/*-----------Vertical tabs-----------*/
/* line 188, ../scss/_tabs.scss */
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

/* line 193, ../scss/_tabs.scss */
.resp-vtabs .resp-tabs-list li {
  display: block;
  /*padding: 15px 15px !important;*/
  margin: 0 0 4px;
  cursor: pointer;
  float: none;
}

/* line 201, ../scss/_tabs.scss */
.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

/* line 212, ../scss/_tabs.scss */
.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word;
}

/* line 217, ../scss/_tabs.scss */
.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index: 1;
  /*margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
  border-top: 1px solid;
  border: 1px solid #5AB1D0 !important;
  border-left: 4px solid #5AB1D0 !important;
  margin-bottom: 4px !important;
  border-right: 1px #FFF solid !important;*/
}

/* line 229, ../scss/_tabs.scss */
.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 6px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #c1c1c1;
}

/* line 239, ../scss/_tabs.scss */
h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #f1c40f;
}

/*-----------Accordion styles-----------*/
/* line 247, ../scss/_tabs.scss */
h2.resp-tab-active {
  /* background: #DBDBDB; !important;*/
}

/* line 251, ../scss/_tabs.scss */
.resp-easy-accordion h2.resp-accordion {
  display: block;
}

/* line 255, ../scss/_tabs.scss */
.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1;
}

/* line 259, ../scss/_tabs.scss */
.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1;
  /* !important;*/
}

/* line 263, ../scss/_tabs.scss */
.resp-jfit {
  width: 100%;
  margin: 0px;
}

/* line 268, ../scss/_tabs.scss */
.resp-tab-content-active {
  display: block;
}

/* line 272, ../scss/_tabs.scss */
h2.resp-accordion:first-child {
  /* border-top: 1px solid #c1c1c1; !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
  /* line 278, ../scss/_tabs.scss */
  ul.resp-tabs-list {
    display: none;
  }

  /* line 282, ../scss/_tabs.scss */
  h2.resp-accordion {
    display: block;
  }

  /* line 286, ../scss/_tabs.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
  }

  /* line 290, ../scss/_tabs.scss */
  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }

  /* line 298, ../scss/_tabs.scss */
  .resp-accordion-closed {
    display: none !important;
  }

  /* line 302, ../scss/_tabs.scss */
  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }
}
/*---------------------  NEW TABS STYLE  -------------------*/
/* line 313, ../scss/_tabs.scss */
.resptab2 .resptab--item {
  width: 49.7%;
  padding-left: 46px;
  text-align: center;
  position: relative;
}
/* line 320, ../scss/_tabs.scss */
.resptab2 .resptab--item span {
  float: none;
  position: relative;
}
/* line 326, ../scss/_tabs.scss */
.resptab2 .resptab--item [data-tab-item="item1"]::before,
.resptab2 .resptab--item [data-tab-item="item2"]::before {
  content: "";
  width: 30px;
  height: 30px;
  left: -46px;
  margin-right: 15px;
  position: absolute;
  display: inline-block;
}
/* line 337, ../scss/_tabs.scss */
.resptab2 .resptab--item [data-tab-item="item1"]::before {
  background: url(../../images/icon/icon3.png) 50% 50% no-repeat;
  background-size: 100%;
}
/* line 341, ../scss/_tabs.scss */
.resptab2 .resptab--item [data-tab-item="item2"]::before {
  background: url(../../images/icon/icon4.png) 50% 50% no-repeat;
  background-size: 100%;
}

/* line 350, ../scss/_tabs.scss */
.resptab {
  width: 784px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* line 355, ../scss/_tabs.scss */
.resptab--item {
  color: #000;
  width: 32.95%;
  background: #E9E9E9;
  padding: 16px 15px;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 366, ../scss/_tabs.scss */
.resptab--item .img_box {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  display: inline-block;
}
/* line 374, ../scss/_tabs.scss */
.resptab--item span {
  float: left;
  font-size: 12px;
  line-height: 2.5;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}
/* line 384, ../scss/_tabs.scss */
.resptab--item.resp-tab-active {
  color: #fff;
  background-color: #303030;
}
/* line 389, ../scss/_tabs.scss */
.resptab--item:not(:last-child) {
  margin-right: 4px;
}
/* line 394, ../scss/_tabs.scss */
.resptab--content {
  min-height: 515px;
  overflow: hidden;
  border: 1px solid #303030;
  -webkit-border-radius: 3px 3px 7px 7px;
  border-radius: 3px 3px 7px 7px;
}

/*-----------  TABS responsive  ----------*/
@media only screen and (max-width: 880px) {
  /* line 408, ../scss/_tabs.scss */
  .resptab {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 413, ../scss/_tabs.scss */
  .resptab .resp-accordion {
    color: #000;
    width: 100%;
    background: #E9E9E9;
    padding: 16px 15px;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 425, ../scss/_tabs.scss */
  .resptab .resp-accordion .img_box {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    display: inline-block;
  }
  /* line 433, ../scss/_tabs.scss */
  .resptab .resp-accordion span {
    float: left;
    font-size: 12px;
    line-height: 2.5;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
  }
  /* line 443, ../scss/_tabs.scss */
  .resptab .resp-accordion.resp-tab-active {
    color: #fff;
    background-color: #303030;
  }
  /* line 448, ../scss/_tabs.scss */
  .resptab .resp-accordion:not(:last-child) {
    margin-right: 4px;
  }
  /* line 452, ../scss/_tabs.scss */
  .resptab .resp-accordion span:last-child {
    font-size: 14px;
    text-align: center;
    display: inline-block;
    width: calc(100% - 90px);
  }
  /* line 460, ../scss/_tabs.scss */
  .resptab .resp-arrow {
    float: right !important;
    width: 30px;
    height: 30px;
    margin-top: 0 !important;
    border: none !important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #747474 url(../../images/icon/arr_down.png) 50% 50% no-repeat;
    -webkit-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
  }
  /* line 474, ../scss/_tabs.scss */
  .resptab h2.resp-tab-active {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }
  /* line 477, ../scss/_tabs.scss */
  .resptab h2.resp-tab-active .resp-arrow {
    background-color: #181818;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /* line 488, ../scss/_tabs.scss */
  .resp-tab-active + .resptab--content {
    margin-top: -3px;
    margin-bottom: 18px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }

  /* line 496, ../scss/_tabs.scss */
  .resptab2 .resp-accordion {
    margin-bottom: 4px;
  }
  /* line 497, ../scss/_tabs.scss */
  .resptab2 .resp-accordion span:last-child {
    float: none;
    width: auto;
    padding-left: 45px;
    position: relative;
  }
  /* line 506, ../scss/_tabs.scss */
  .resptab2 .resptab--content {
    padding-top: 15px;
  }
  /* line 511, ../scss/_tabs.scss */
  .resptab2 [data-tab-item="item1"]::before,
  .resptab2 [data-tab-item="item2"]::before {
    content: "";
    width: 30px;
    height: 30px;
    left: 0px;
    margin-right: 15px;
    position: absolute;
    display: inline-block;
  }
  /* line 522, ../scss/_tabs.scss */
  .resptab2 [data-tab-item="item1"]::before {
    background: url(../../images/icon/icon3.png) 50% 50% no-repeat;
    background-size: 100%;
  }
  /* line 526, ../scss/_tabs.scss */
  .resptab2 [data-tab-item="item2"]::before {
    background: url(../../images/icon/icon4.png) 50% 50% no-repeat;
    background-size: 100%;
  }

  /* line 532, ../scss/_tabs.scss */
  .personal_data::before {
    display: none;
  }
}
@media only screen and (max-width: 668px) {
  /* line 536, ../scss/_tabs.scss */
  .personal_data {
    padding: 0 15px 20px;
  }
  /* line 539, ../scss/_tabs.scss */
  .personal_data .form {
    width: 100%;
  }
  /* line 543, ../scss/_tabs.scss */
  .personal_data .grid--45p {
    width: 100%;
    float: none;
  }
  /* line 548, ../scss/_tabs.scss */
  .personal_data .button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  /* line 555, ../scss/_tabs.scss */
  .personal_data .form__row.al_right {
    text-align: center;
  }
}
@media only screen and (max-width: 620px) {
  /* line 563, ../scss/_tabs.scss */
  .prizes .prize {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  /* line 568, ../scss/_tabs.scss */
  .prizes .prize .img_box {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 574, ../scss/_tabs.scss */
  .prizes .prize:first-child {
    margin-right: 0;
  }
  /* line 575, ../scss/_tabs.scss */
  .prizes .prize:last-child {
    margin-left: 0;
  }
  /* line 577, ../scss/_tabs.scss */
  .prizes .prize:nth-child(2) {
    width: 230px;
  }

  /* line 584, ../scss/_tabs.scss */
  .resptab--content {
    min-height: 415px;
  }
}
/* line 43, ../scss/_modals.scss */
.body-modal {
  overflow: hidden;
}

/* line 47, ../scss/_modals.scss */
.modal {
  color: #000;
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1001;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  display: none;
  font-size: 16px;
  line-height: 22px;
  background: rgba(0, 0, 0, 0.6);
}
/* line 49, ../scss/_modals.scss */
.modals__fog {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 1000;
}
/* line 78, ../scss/_modals.scss */
.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}
/* line 86, ../scss/_modals.scss */
.modal__body {
  position: relative;
  z-index: 1;
  min-height: 285px;
  padding: 30px;
  width: 480px;
  box-sizing: border-box;
  display: inline-block;
  background: #fff;
  text-align: left;
  border: none;
  vertical-align: middle;
  border-radius: 15px;
  box-shadow: none;
}
/* line 102, ../scss/_modals.scss */
.modal__header {
  padding: 0;
  border-bottom: none;
}
/* line 107, ../scss/_modals.scss */
.modal__content {
  padding: 0;
}
/* line 111, ../scss/_modals.scss */
.modal__footer {
  padding: 0;
  border-top: none;
  margin: 0;
}
/* line 117, ../scss/_modals.scss */
.modal__close {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  background: #e00000 url(../../images/icon/close2.png) 50% 50% no-repeat;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
}
/* line 132, ../scss/_modals.scss */
.modal__title {
  font-family: inherit;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  font-weight: bold;
  color: #000;
}

/*===============================popups===================================*/
/* line 151, ../scss/_modals.scss */
.modal--registration .form {
  padding: 0 30px;
}
/* line 155, ../scss/_modals.scss */
.modal--registration .captcha {
  margin-top: 30px;
  margin-left: 0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 165, ../scss/_modals.scss */
.modal--registration .modal--registration .form {
  padding: 0;
}
/* line 172, ../scss/_modals.scss */
.modal--thank_you_for_registering p {
  font-size: 14px;
  line-height: 1.7;
}
/* line 177, ../scss/_modals.scss */
.modal--thank_you_for_registering .modal__body {
  padding: 30px 60px;
}
/* line 184, ../scss/_modals.scss */
.modal--regist_compl_succes .modal__body {
  padding: 110px 30px;
}
/* line 191, ../scss/_modals.scss */
.modal--resending .form__label,
.modal--resending .form__input {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
/* line 201, ../scss/_modals.scss */
.modal--delivery_address .modal__body {
  padding: 30px 70px;
}

/*===============================popups_resp===================================*/
/* line 208, ../scss/_modals.scss */
[data-modal-size="360"] {
  width: 360px;
}

/* line 211, ../scss/_modals.scss */
[data-modal-size="410"] {
  width: 410px;
}

/* line 214, ../scss/_modals.scss */
[data-modal-size="440"] {
  width: 440px;
}

/* line 217, ../scss/_modals.scss */
[data-modal-size="640"] {
  width: 640px;
}

@media only screen and (max-width: 668px) {
  /* line 222, ../scss/_modals.scss */
  [data-modal-size="640"] {
    width: 90%;
  }

  /* line 226, ../scss/_modals.scss */
  .modal--registration .form {
    padding: 0;
  }

  /* line 230, ../scss/_modals.scss */
  .personal_data--birth_month {
    width: 80px;
    margin-right: 5px;
  }

  /* line 234, ../scss/_modals.scss */
  .personal_data--birth_year {
    width: 64px;
  }
}
@media only screen and (max-width: 555px) {
  /* line 239, ../scss/_modals.scss */
  .personal_data--birth_year {
    width: 64px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 246, ../scss/_modals.scss */
  .modal__body {
    width: 95%;
    min-height: 170px;
  }

  /* line 252, ../scss/_modals.scss */
  .modal--registration .form {
    margin-bottom: 20px;
  }

  /* line 256, ../scss/_modals.scss */
  .captcha--refresh {
    margin-bottom: 10px;
  }

  /* line 259, ../scss/_modals.scss */
  .modal__title {
    margin-bottom: 10px;
    margin-top: -19px;
    margin-right: 10px;
  }

  /* line 271, ../scss/_modals.scss */
  .modal--thank_you_for_registering .modal__body, .modal--delivery_address .modal__body, .modal--regist_compl_succes .modal__body {
    padding: 30px 15px;
  }

  /* line 278, ../scss/_modals.scss */
  .modal__header {
    padding: 30px 22px 5px;
  }
}
/* line 6, ../scss/_button.scss */
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e00000;
  box-shadow: none;
  border: none;
  width: 100%;
  display: inline-block;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  padding: 0 20px;
  font-family: inherit;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 29, ../scss/_button.scss */
.button:hover {
  opacity: .7;
}
/* line 33, ../scss/_button.scss */
.button--default, .button[disabled] {
  cursor: default;
  opacity: .4;
}

/* line 40, ../scss/_button.scss */
.button2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e00000;
  box-shadow: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  padding: 0 20px;
  font-family: inherit;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 65, ../scss/_button.scss */
.button2:hover {
  opacity: .7;
}
/* line 69, ../scss/_button.scss */
.button2--default, .button2[disabled] {
  cursor: default;
  opacity: .4;
}

/* line 76, ../scss/_button.scss */
[data-btn-size="120"] {
  width: 120px;
}

/* line 77, ../scss/_button.scss */
[data-btn-size="140"] {
  width: 140px;
}

/* line 78, ../scss/_button.scss */
[data-btn-size="270"] {
  width: 270px;
}

/*----------------  Navigation  ---------------*/
/* line 2, ../scss/_nav.scss */
.nav__wrap {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dedede;
  -webkit-box-shadow: 3px 3px 3px #dedede;
  box-shadow: 3px 3px 3px #dedede;
}

/* line 9, ../scss/_nav.scss */
.logo {
  display: none;
}

/* line 10, ../scss/_nav.scss */
.nav {
  float: left;
  text-align: center;
  width: calc(100% - 120px);
}
/* line 15, ../scss/_nav.scss */
.nav--item {
  margin: 0 4px;
  position: relative;
  display: inline-block;
}
/* line 20, ../scss/_nav.scss */
.nav--item--link {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 25px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
/* line 30, ../scss/_nav.scss */
.nav--item:not(:last-child):after {
  content: "";
  top: 3px;
  right: -5px;
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  background-color: #E1E1E1;
}

/* line 43, ../scss/_nav.scss */
.sign_out {
  color: #FFF;
  float: right;
  font-size: 10px;
  line-height: 2.5;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  padding: 0 35px 0 24px;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #E00000 url(../../images/icon/close.png) 70px 49% no-repeat;
  -webkit-background-size: 8px;
  -o-background-size: 8px;
  background-size: 8px;
}

/* line 62, ../scss/_nav.scss */
.resp_menu {
  width: 40px;
  height: 40px;
  float: right;
  display: none;
  cursor: pointer;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #e00000 url(../../images/icon/menu.png) 50% 50% no-repeat;
}
/* line 73, ../scss/_nav.scss */
.resp_menu:hover {
  opacity: 0.7;
}

/*----------------  END Navigation  ---------------*/
/*-----------  NAV responsive  ----------*/
@media only screen and (max-width: 880px) {
  /* line 82, ../scss/_nav.scss */
  .nav--item--link {
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 88, ../scss/_nav.scss */
  .nav--item--link {
    font-size: 10px;
  }
}
@media only screen and (max-width: 668px) {
  /* line 94, ../scss/_nav.scss */
  .resp_menu {
    display: block;
    margin-top: 12px;
  }

  /* line 98, ../scss/_nav.scss */
  .logo {
    float: left;
    display: block;
  }

  /* line 102, ../scss/_nav.scss */
  .nav__wrap {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fb0d0d;
  }
  /* line 107, ../scss/_nav.scss */
  .nav__wrap .container {
    position: fixed;
    width: 320px;
    right: -355px;
    top: 0;
    bottom: 0;
    z-index: 10;
    padding: 40px 15px;
    overflow: auto;
    max-height: 100%;
    background-color: #FFF;
    -webkit-box-shadow: 0px 3px 25px #DEDEDE;
    box-shadow: 0px 3px 25px #DEDEDE;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  /* line 126, ../scss/_nav.scss */
  .nav__wrap .container .nav {
    float: none;
    width: 100%;
  }
  /* line 130, ../scss/_nav.scss */
  .nav__wrap .container .nav--item {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0 0 15px;
  }
  /* line 136, ../scss/_nav.scss */
  .nav__wrap .container .nav--item--link {
    font-size: 14px;
    padding: 5px 0;
  }
  /* line 141, ../scss/_nav.scss */
  .nav__wrap .container .nav--item:not(:last-child):after {
    display: none;
  }
  /* line 147, ../scss/_nav.scss */
  .nav__wrap .sign_out {
    float: none;
  }
  /* line 151, ../scss/_nav.scss */
  .nav__wrap .resp_close {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #e00000 url(../../images/icon/close2.png) 50% 50% no-repeat;
    -webkit-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
  }

  /* line 168, ../scss/_nav.scss */
  .nav_overlay .nav__wrap .container {
    right: 0;
  }
}
/*----------------  Colors  ---------------*/
/* line 3, ../scss/_colors.scss */
[data-color="red"] {
  color: #D90210;
}

/* line 5, ../scss/_colors.scss */
[data-color="black"] {
  color: #000;
}

/*----------------  END Colors  ---------------*/
/*----------------  Table  ---------------*/
/* line 3, ../scss/_table.scss */
.table {
  width: 100%;
}
/* line 8, ../scss/_table.scss */
.table--row:not(:last-child) {
  border-bottom: 1px solid #CCC;
}
/* line 12, ../scss/_table.scss */
.table--row td,
.table--row th {
  float: left;
  text-align: center;
  display: inline-block;
}
/* line 19, ../scss/_table.scss */
.table--row td:first-child,
.table--row th:first-child {
  width: 25%;
}
/* line 23, ../scss/_table.scss */
.table--row td:nth-child(2),
.table--row th:nth-child(2) {
  width: 14%;
}
/* line 27, ../scss/_table.scss */
.table--row td:nth-child(3),
.table--row th:nth-child(3) {
  width: 30%;
}
/* line 31, ../scss/_table.scss */
.table--row td:last-child,
.table--row th:last-child {
  width: 30%;
}
/* line 36, ../scss/_table.scss */
.table--row td {
  font-size: 13px;
  line-height: 90px;
  position: relative;
}
/* line 43, ../scss/_table.scss */
.table--first_row {
  background-color: #303030;
  border-bottom: none !important;
}
/* line 47, ../scss/_table.scss */
.table--first_row th {
  color: #FFF;
  font-size: 9px;
  line-height: 3.4;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 62, ../scss/_table.scss */
.table_prizes .table--row td:first-child,
.table_prizes .table--row th:first-child {
  width: 32%;
}
/* line 66, ../scss/_table.scss */
.table_prizes .table--row td:nth-child(2),
.table_prizes .table--row th:nth-child(2) {
  width: 15%;
}
/* line 70, ../scss/_table.scss */
.table_prizes .table--row td:nth-child(3),
.table_prizes .table--row th:nth-child(3) {
  width: 28%;
}
/* line 74, ../scss/_table.scss */
.table_prizes .table--row td:last-child,
.table_prizes .table--row th:last-child {
  width: 25%;
}

/*----------------  END Table  ---------------*/
/*-----------  TABLE responsive  ----------*/
@media only screen and (max-width: 768px) {
  /* line 92, ../scss/_table.scss */
  .table_prizes .table--row td:first-child,
  .table_prizes .table--row th:first-child {
    width: 24%;
  }
  /* line 96, ../scss/_table.scss */
  .table_prizes .table--row td:nth-child(2),
  .table_prizes .table--row th:nth-child(2) {
    width: 24%;
  }
  /* line 100, ../scss/_table.scss */
  .table_prizes .table--row td:nth-child(3),
  .table_prizes .table--row th:nth-child(3) {
    width: 28%;
  }
  /* line 104, ../scss/_table.scss */
  .table_prizes .table--row td:last-child,
  .table_prizes .table--row th:last-child {
    width: 23%;
  }

  /* line 135, ../scss/_table.scss */
  .table--row td {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }
  /* line 140, ../scss/_table.scss */
  .table--row td::before {
    color: #231F20;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    line-height: 1;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    content: attr(data-table);
  }
}
@media only screen and (max-width: 580px) {
  /* line 158, ../scss/_table.scss */
  .table--first_row {
    display: none !important;
  }

  /* line 163, ../scss/_table.scss */
  .table_prizes .table--row,
  .table .table--row {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
  }
  /* line 168, ../scss/_table.scss */
  .table_prizes .table--row td,
  .table .table--row td {
    line-height: 2;
  }
  /* line 172, ../scss/_table.scss */
  .table_prizes .table--row td:first-child,
  .table_prizes .table--row th:first-child,
  .table .table--row td:first-child,
  .table .table--row th:first-child {
    width: 100%;
    float: none;
  }
  /* line 177, ../scss/_table.scss */
  .table_prizes .table--row td:nth-child(2),
  .table_prizes .table--row th:nth-child(2),
  .table .table--row td:nth-child(2),
  .table .table--row th:nth-child(2) {
    width: 100%;
    float: none;
  }
  /* line 182, ../scss/_table.scss */
  .table_prizes .table--row td:nth-child(3),
  .table_prizes .table--row th:nth-child(3),
  .table .table--row td:nth-child(3),
  .table .table--row th:nth-child(3) {
    width: 100%;
    float: none;
  }
  /* line 187, ../scss/_table.scss */
  .table_prizes .table--row td:last-child,
  .table_prizes .table--row th:last-child,
  .table .table--row td:last-child,
  .table .table--row th:last-child {
    width: 100%;
    float: none;
  }
}
/*=====================> Titles ========================*/
/* line 2, ../scss/_title.scss */
h2, h3, h4 {
  font-weight: normal;
}

/* line 5, ../scss/_title.scss */
.title--1 {
  font-size: 50px;
  line-height: 1;
  font-family: 'clarence_cyrillicregular';
}

/* line 11, ../scss/_title.scss */
.title--2 {
  font-size: 36px;
  line-height: 1;
}

/* line 16, ../scss/_title.scss */
.title--3 {
  font-size: 24px;
  line-height: 1.3;
}

/* line 21, ../scss/_title.scss */
.title--4 {
  font-size: 16px;
  line-height: 1.2;
}

/* line 26, ../scss/_title.scss */
.title--5 {
  font-size: 13px;
  line-height: 1.2;
}

/* line 31, ../scss/_title.scss */
.title--6 {
  font-size: 12px;
  line-height: 1.2;
}

/* line 37, ../scss/_title.scss */
.fz36 {
  font-size: 36px;
}

/* line 38, ../scss/_title.scss */
.fz14 {
  font-size: 14px;
}

/*-----------  TITLES responsive  ----------*/
@media only screen and (max-width: 550px) {
  /* line 43, ../scss/_title.scss */
  .title--1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 49, ../scss/_title.scss */
  body {
    min-width: 300px;
  }

  /* line 51, ../scss/_title.scss */
  .title--1 {
    font-size: 27px;
  }

  /* line 54, ../scss/_title.scss */
  .title--2 {
    font-size: 28px;
  }
}
/* line 1, ../scss/_social.scss */
.social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin-top: 15px;
}
/* line 7, ../scss/_social.scss */
.social__item {
  display: inline-block;
  margin: 0 15px;
  font-size: 14px;
  line-height: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  opacity: .9;
}
/* line 21, ../scss/_social.scss */
.social__item img {
  max-width: 100%;
}
/* line 25, ../scss/_social.scss */
.social__item:hover {
  opacity: 1;
}

/*-----------  SOCIAL responsive  ----------*/
@media only screen and (max-width: 480px) {
  /* line 38, ../scss/_social.scss */
  .social__item {
    margin: 0 8px;
  }

  /* line 41, ../scss/_social.scss */
  .grid--47p {
    width: 100%;
  }

  /* line 44, ../scss/_social.scss */
  .modal__close {
    top: 7px;
  }
}
/*=====================> INDEX 2 ========================*/
/* line 2, ../scss/_index2.scss */
section[data-bg="index_bottom"] {
  position: relative;
  padding-bottom: 200px;
}
/* line 6, ../scss/_index2.scss */
section[data-bg="index_bottom"]::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 75%;
  position: absolute;
  background: url(../../images/bg_img3.png) 50% 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 19, ../scss/_index2.scss */
section[data-bg="index_bottom"] .title--1 {
  font-size: 58px;
}

/* line 22, ../scss/_index2.scss */
[data-bg="index2_bg"] {
  position: relative;
  padding-top: 20px;
  padding-bottom: 600px !important;
  background: url(../../images/bg_img2.jpg) 50% 0% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

/* line 33, ../scss/_index2.scss */
.drawing_step {
  margin-right: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
/* line 38, ../scss/_index2.scss */
.drawing_step--numb {
  color: #fff;
  width: 48px;
  height: 48px;
  padding-top: 2px;
  margin-top: 4px;
  font-size: 38px;
  font-weight: 900;
  line-height: 1.2;
  padding-right: 2px;
  margin-right: 18px;
  text-align: center;
  background-color: #E00000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-family: 'clarence_cyrillicregular';
}
/* line 57, ../scss/_index2.scss */
.drawing_step--info {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  font-family: 'clarence_cyrillicregular';
}
/* line 69, ../scss/_index2.scss */
.drawing_step_last .drawing_step--numb {
  width: 72px;
  height: 72px;
  font-size: 64px;
}
/* line 75, ../scss/_index2.scss */
.drawing_step_last .drawing_step--info {
  font-size: 36px;
}

/* line 82, ../scss/_index2.scss */
.drawing_step_wrap {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 10px;
}

/* line 88, ../scss/_index2.scss */
.prize_img {
  text-align: center;
}
/* line 90, ../scss/_index2.scss */
.prize_img img {
  width: 79%;
}

/*-----------  INDEX 2 responsive  ----------*/
@media only screen and (max-width: 1700px) {
  /* line 97, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 500px !important;
  }
}
@media only screen and (max-width: 1480px) {
  /* line 103, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 450px !important;
  }
}
@media only screen and (max-width: 1280px) {
  /* line 109, ../scss/_index2.scss */
  section[data-bg="index_bottom"] {
    padding-bottom: 150px;
  }
  /* line 112, ../scss/_index2.scss */
  section[data-bg="index_bottom"]::after {
    top: 82%;
  }

  /* line 115, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 380px !important;
  }
}
@media only screen and (max-width: 1199px) {
  /* line 121, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 350px !important;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 127, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 250px !important;
  }

  /* line 131, ../scss/_index2.scss */
  .drawing_step--info {
    font-size: 22px;
  }

  /* line 134, ../scss/_index2.scss */
  .drawing_step--numb {
    margin-top: 0;
    width: 44px;
    height: 44px;
  }

  /* line 140, ../scss/_index2.scss */
  .drawing_step_last .drawing_step--numb {
    width: 60px;
    height: 60px;
    font-size: 50px;
  }

  /* line 145, ../scss/_index2.scss */
  .drawing_step_last .drawing_step--info {
    font-size: 32px;
  }

  /* line 147, ../scss/_index2.scss */
  section[data-bg="index_bottom"] {
    padding-bottom: 110px;
  }
}
@media only screen and (max-width: 880px) {
  /* line 151, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 200px !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 157, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 150px !important;
  }

  /* line 161, ../scss/_index2.scss */
  section[data-bg="index_bottom"] {
    padding-bottom: 75px;
  }
}
@media only screen and (max-width: 668px) {
  /* line 165, ../scss/_index2.scss */
  section[data-bg="index_bottom"] .title--1 {
    font-size: 45px;
  }

  /* line 167, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 280px !important;
    background: url(../../images/index_mob_bg.png) 50% 50% no-repeat;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }

  /* line 175, ../scss/_index2.scss */
  .drawing_step_wrap {
    text-align: left;
    padding: 0 10px;
  }

  /* line 179, ../scss/_index2.scss */
  .drawing_step {
    padding-left: 20%;
    display: block;
  }

  /* line 184, ../scss/_index2.scss */
  .drawing_step_last .drawing_step--numb {
    width: 50px;
    height: 50px;
    font-size: 40px;
  }

  /* line 189, ../scss/_index2.scss */
  .drawing_step_last .drawing_step--info {
    font-size: 28px;
  }

  /* line 193, ../scss/_index2.scss */
  .prize_wrap {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 199, ../scss/_index2.scss */
  section[data-bg="index_bottom"] .title--1 {
    font-size: 35px;
  }

  /* line 203, ../scss/_index2.scss */
  .drawing_step {
    padding-left: 10%;
  }

  /* line 207, ../scss/_index2.scss */
  .drawing_step--numb {
    font-size: 32px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 213, ../scss/_index2.scss */
  section[data-bg="index_bottom"] {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 221, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 250px !important;
  }

  /* line 225, ../scss/_index2.scss */
  .drawing_step {
    padding-left: 0;
    margin-right: 0;
  }

  /* line 230, ../scss/_index2.scss */
  .drawing_step--numb,
  .drawing_step_last .drawing_step--numb {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 12px;
  }

  /* line 237, ../scss/_index2.scss */
  .drawing_step--info {
    float: left;
    width: calc(100% - 52px);
  }

  /* line 241, ../scss/_index2.scss */
  .drawing_step_last .drawing_step--numb {
    font-size: 36px;
  }

  /* line 244, ../scss/_index2.scss */
  .drawing_step_last .drawing_step--info {
    font-size: 24px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 252, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 200px !important;
  }
}
@media only screen and (max-width: 380px) {
  /* line 258, ../scss/_index2.scss */
  [data-bg="index2_bg"] {
    padding-bottom: 170px !important;
  }

  /* line 262, ../scss/_index2.scss */
  section[data-bg="index_bottom"] .title--1 {
    font-size: 27px;
  }
}
/*=====================> PRIZES 2 ========================*/
/* line 2, ../scss/_prizes2.scss */
.tab_prize {
  padding: 25px 7px 15px;
}

/*-----------  INDEX 2 responsive  ----------*/
@media only screen and (max-width: 768px) {
  /* line 9, ../scss/_prizes2.scss */
  .tab_prize--img {
    text-align: center;
    padding: 25px;
  }
  /* line 13, ../scss/_prizes2.scss */
  .tab_prize--img img:first-child {
    display: none;
  }
  /* line 14, ../scss/_prizes2.scss */
  .tab_prize--img img.d_none {
    display: inline-block;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 360px) {
  /* line 25, ../scss/_prizes2.scss */
  .tab_prize--img {
    padding: 25px 10px;
  }
}
